
<div *ngIf="links" class="container-fluid tokens">
  <div class="tokens header">Перешли эти сообшения троим друзьям и узнай, совместимы ли вы!</div>
  <div class="links" *ngFor="let link of links; let i = index">
    <!--<div class="token-value">-->
      <!--<a  href='{{link}}'>{{ link }}</a>-->
    <!--</div>-->
    <div class="row justify-content-md-center">
      <div class="col-md-auto col-sm-11 col-sm-11">
        <textarea [id]="link">Привет! Тут есть один интересный тест, который измеряет психологическую совместимость. Предлагаю тебе тоже его пройти, и тогда мы сможем узнать наш совместный результат – насколько мы с тобой психологически совместимы и насколько совпадают наши жизненные цели и приоритеты. Для того чтобы пройти тестирование и увидеть результаты, тебе необходимо просто перейти по данной ссылке:
{{link}}</textarea>
      </div>
      <div class="col col-lg-1 col-sm-1 col-sm-1">
        <button (click)="copyElementText(link)"><i class="fa fa-copy"></i></button>
      </div>
    </div>
  </div>
</div>


