.card-deck {
  margin: 2% 0;
}
@media(max-width:1200px) {
  .card-deck{
    margin: 5% 0;
  }
}
@media(max-width:992px) {
  .card-deck{
    margin: 2% 0;
  }
}
@media(max-width:768px) {
  .card-deck, .modal {
    margin: 5% 0;
  }
}

.card {
  background-color: #444444;
  min-width: 300px;
  max-width: 400px;
  border-radius: 5%;
  margin: 2%;
  text-align: center;
  display: inline-block;
  box-shadow: 30px 30px 40px rgba(0, 0, 0, 0.4);
}
.card-body {
  margin: 1% 1% 5% 1%;
  font-size: larger;
}
.card-title {
  margin: 0% 1% 6% 1%;
}
.card-main-text{

}
.card-text {
  text-align: justify;
  font-size: medium;
}

.card-text.footer {
  text-align: center;
  font-size: larger;
  float: bottom;
}
.footer {
  float: bottom;
  text-align: end;
  margin: 5% 5% 0% 5%;
  font-size: larger;
}
.btn-link {
  font-size: larger;
  margin-top: 10%;
}
a.nondecorated:active, /* активная/посещенная ссылка */
a.nondecorated:hover,  /* при наведении */
a.nondecorated{
  text-decoration: none;
  //color: #666;
}
button.nondecorated:active, /* активная/посещенная ссылка */
button.nondecorated:hover,  /* при наведении */
button.nondecorated{
  text-decoration: none;
  //color: #666;
}
