
<!--Navigation-->
<nav class="navbar navbar-expand-xl navbar-dark bg-dark fixed-top" role="navigation">
  <!--You can change background color of navbar by adding style="background-color: #e3f2fd;" and deleting bg-dark: <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #e3f2fd;" >-->

      <!--Collapse button-->
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#dropdownMenu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!--Collapse button-->

      <!--Brand-->
      <a class="navbar-brand" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Совместимость</a>
      <!--Brand-->

    <!--Collapsed navbar-->
    <div class="collapse navbar-collapse" id="dropdownMenu">
      <!--Left navbar-->
      <div class="nav navbar-nav mr-auto">
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="/user-test" id="navbarDropdownMenuLink" role="button"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" routerLinkActive="active" >
            Тест
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink="/vc-test-instruction" routerLinkActive="active">Личностная совместимость</a>
            <a class="dropdown-item" routerLink="/error" routerLinkActive="active">Ролевая совместимость</a>
            <a class="dropdown-item" routerLink="/error" routerLinkActive="active">Любовная совместимость</a>
            <a class="dropdown-item" routerLink="/error" routerLinkActive="active">Сексуальная совместимость</a>
          </div>
        </div>
        <!--<a *ngIf="isValueCompatibilityTestPassed" class="nav-item nav-link" routerLink="/value-profile">Ценностный профиль</a>-->
        <a class="nav-item nav-link" routerLink="/value-profile" routerLinkActive="active">Ценностный профиль</a>
        <a class="nav-item nav-link" routerLink="/match-home" routerLinkActive="active">Сравнить профили</a>
        <!--<a class="nav-item nav-link" routerLink="/match">Сравнение</a>-->
      </div>
      <!--Left navbar-->

      <!--Right navbar-->
      <div class="nav navbar-nav mr-2">

        <a class="nav-item nav-link my-2 my-lg-0" routerLink="psychological-compatibility-info" routerLinkActive="active">Психологическая совместимость</a>
        <a class="nav-item nav-link my-2 my-lg-0" routerLink="about-project" routerLinkActive="active">О проекте</a>
        <!--<a class="nav-item nav-link my-2 my-lg-0" routerLink="/card">Авторы</a>-->
        <!--<a class="nav-item nav-link my-2 my-lg-0" routerLink="tokens">Send an invitation to friends</a>-->
        <!--<a class="nav-item nav-link my-2 my-lg-0" routerLink="/vc-test-instruction">Инструкция</a>-->
        <!--<a *ngIf="!isLogin" class="nav-item nav-link my-2 my-lg-0" routerLink="/login" [hidden]="isLogin">Login</a>-->
        <button *ngIf="!isLogin; else logout" class="nav-item nav-link btn btn-link my-2 my-lg-0" id="openModalLogin"
                #openModalLogin data-toggle="modal" data-target="#loginModal">Login</button>
        <ng-template #logout>
          <!--<a *ngIf="isLogin&&isRegistered" class="nav-item nav-link disabled my-2 my-lg-0" routerLink="/logout" routerLinkActive="active" [hidden]="!isLogin">Logout</a>-->
          <!--<a *ngIf="isLogin" class="nav-item nav-link my-2 my-lg-0" routerLink="/logout" [hidden]="!isLogin">Выйти</a>-->
          <button *ngIf="isLogin" class="nav-item nav-link btn btn-link my-2 my-lg-0"
                  data-toggle="modal" data-target="#modalLogout">Logout</button>
        </ng-template>

        <a *ngIf="!isRegistered" class="nav-item nav-link disabled my-2 my-lg-0" routerLink="/register" routerLinkActive="active" [hidden]="isRegistered">Register</a>

        <a *ngIf="isAccountVisible; else accountAlias" class="nav-item nav-link my-2 my-lg-0"
           routerLink="/account" routerLinkActive="active" [hidden]="!isAccountVisible">{{account.user.name}}</a>
        <ng-template #accountAlias>
          <a class="nav-item nav-link my-2 my-lg-0"
             routerLink="/account" routerLinkActive="active" [hidden]="!isAliasAccountVisible">Account</a>
        </ng-template>
      </div>
      <!--Right navbar-->
    </div>
    <!--Collapsed navbar-->
</nav>
<!--Navigation-->

<app-login></app-login>
<app-logout></app-logout>
