
<div class="card-deck justify-content-center">

  <!--PROSCKURA YURIY -->
  <div class="card bg-info text-white ">
      <div class="card-header text-center">
        <div class="author-image d-flex justify-content-center">
          <img class="img-circle" src="assets/images/PosckuraYuriy_small.jpg" alt="ProsckuraYuriy"/>
        </div>
        <br>
        <h3>{{ prosckura_yuriy_name }}</h3>
      </div>
      <div class="card-body">
        <div class="card-text text-center role">{{prosckura_yuriy_role}}</div>
      </div>
      <div class="card-footer">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-link customDecorated" data-toggle="modal" data-target="#modalProsckuraYuriy">
          Подробнее...
        </button>
      </div>
    <!--<div class="back text-white bg-info text-center">-->
      <!--<div class="card-body">-->
        <!--<div class="back-content">-->
          <!--<p class="card-text text-center">{{prosckura_yuriy_life}}</p>-->
          <!--<p class="card-text text-center">{{prosckura_yuriy_why_in_project}}</p>-->
          <!--<b class="card-text text-dark text-center">{{prosckura_yuriy_email}}</b>-->
          <!--<div class="sm text-center">-->
            <!--<a href="{{prosckura_yuriy_fb}}" target="_blank"><i class="fab fa-facebook-f"></i></a>-->
            <!--<a href="#" target="_blank"><i class="fab fa-twitter"></i></a>-->
            <!--<a href="mailto:{{prosckura_yuriy_email}}?subject=Question about psymatch"><i class="fas fa-at"></i></a>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>&lt;!&ndash; end back panel &ndash;&gt;-->
  </div><!-- end card -->

  <!-- Modal -->
  <div class="modal fade" id="modalProsckuraYuriy" tabindex="-1" aria-labelledby="modalProsckuraYuriyTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content bg-info" data-dismiss="modal">
        <div class="modal-header">
          <div class="container-fluid">
            <div class="row">
              <div class="col">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  &times;
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <h3 class="modal-title">{{ prosckura_yuriy_name }}</h3>
                <br>
                <div class="author-image d-flex justify-content-center">
                  <img class="img-circle" src="assets/images/PosckuraYuriy_small.jpg" alt="ProsckuraYuriy"/>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-body customDecorated">
          <div class="card bg-info">
            <div class="card-body">
              <div class="card-text role">{{prosckura_yuriy_role}}</div>
              <div class="card-text">{{prosckura_yuriy_boast}}</div>
              <div class="card-text">{{ prosckura_yuriy_life }}</div>
              <div class="card-text">{{ prosckura_yuriy_why_in_project }}</div>
              <p></p>
              <b class="card-text email text-dark text-center">{{ prosckura_yuriy_email }}</b>

            </div><!--end card-body -->
          </div><!--end card -->
        </div><!--end modal-body -->
        <div class="modal-footer justify-content-center">
          <div class="sm text-center">
            <a href="{{prosckura_yuriy_fb}}" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="mailto:{{prosckura_yuriy_email}}?subject=Question about psymatch"><i class="fas fa-at"></i></a>
          </div>

        </div><!--end modal-footer -->
      </div><!--end modal-content -->
    </div><!--end modal-dialog-->
  </div><!--end Modal -->
  <!--end card-->

















  <!--&lt;!&ndash;KONTAR MARYNA&ndash;&gt;-->
  <!--<div class="card">-->
    <!--<div class="front text-white bg-info">-->
      <!--<div class="card-header text-center">-->
        <!--<div class="author-image">-->
          <!--<img class="img-circle" src="assets/images/kontar_maryna_small.jpg" alt="PosckuraYuriy"/>-->
        <!--</div>-->
        <!--<h5 class="card-title">{{kontar_maryna_name}}</h5>-->
      <!--</div>-->
      <!--<div class="card-body">-->
        <!--<div class="role card-text text-center">{{kontar_maryna_role}}</div>-->
        <!--<p class="card-text text-center">{{kontar_maryna_boast}}</p>-->
      <!--</div>-->
      <!--<div class="card-footer">-->
        <!--<div class="text-muted text-right">More...</div>-->
      <!--</div>-->
    <!--</div>&lt;!&ndash; end front panel &ndash;&gt;-->
    <!--<div class="back text-white bg-info text-center">-->
      <!--<div class="card-body">-->
        <!--<div class="back-content">-->
          <!--<p class="card-text text-center">{{kontar_maryna_life}}</p>-->
          <!--<p class="card-text text-center">{{kontar_maryna_why_in_project}}</p>-->
          <!--<b class="card-text text-dark text-center">{{kontar_maryna_email}}</b>-->
          <!--<div class="sm text-center">-->
            <!--<a href="{{kontar_maryna_fb}}" target="_blank"><i class="fab fa-facebook-f"></i></a>-->
            <!--<a href="{{kontar_maryna_github}}" target="_blank"><i class="fab fa-github"></i></a>-->
            <!--<a href="#" target="_blank"><i class="fab fa-twitter"></i></a>-->
            <!--<a href="mailto:{{kontar_maryna_email}}?subject=Question about psymatch"><i class="fas fa-at"></i></a>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>&lt;!&ndash; end back panel &ndash;&gt;-->
  <!--</div>&lt;!&ndash; end card &ndash;&gt;-->

  <!--&lt;!&ndash;PROSCKURA VITALIY &ndash;&gt;-->
  <!--<div class="card">-->
    <!--<div class="front text-white bg-info">-->
      <!--<div class="card-header text-center">-->
        <!--<div class="author-image">-->
          <!--<img class="img-circle" src="assets/images/prosckura_vitaliy_small.jpg" alt="PosckuraYuriy"/>-->
        <!--</div>-->
        <!--<h5 class="card-title">{{prosckura_vitaliy_name}}</h5>-->
      <!--</div>-->
      <!--<div class="card-body">-->
        <!--<div class="role card-text text-center">{{prosckura_vitaliy_role}}</div>-->
        <!--<p class="card-text text-center">{{prosckura_vitaliy_boast}}</p>-->
      <!--</div>-->
      <!--<div class="card-footer">-->
        <!--<div class="text-muted text-right">More...</div>-->
      <!--</div>-->
    <!--</div>&lt;!&ndash; end front panel &ndash;&gt;-->
    <!--<div class="back text-white bg-info text-center">-->
      <!--<div class="card-body">-->
        <!--<div class="back-content">-->
          <!--<p class="card-text text-center">{{prosckura_vitaliy_life}}</p>-->
          <!--<p class="card-text text-center">{{prosckura_vitaliy_why_in_project}}</p>-->
          <!--<b class="card-text text-dark text-center">{{prosckura_vitaliy_email}}</b>-->
          <!--<div class="sm text-center">-->
            <!--<a href="{{prosckura_vitaliy_fb}}" target="_blank"><i class="fab fa-facebook-f"></i></a>-->
            <!--<a href="{{prosckura_vitaliy_github}}" target="_blank"><i class="fab fa-github"></i></a>-->
            <!--<a href="#" target="_blank"><i class="fab fa-twitter"></i></a>-->
            <!--<a href="mailto:{{prosckura_vitaliy_email}}?subject=Question about psymatch"><i class="fas fa-at"></i></a>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>&lt;!&ndash; end back panel &ndash;&gt;-->
  <!--</div>&lt;!&ndash; end card &ndash;&gt;-->

  <!--&lt;!&ndash;VASYLENKO SVETLANA&ndash;&gt;-->
  <!--<div class="card">-->
    <!--<div class="front text-white bg-info">-->
      <!--<div class="card-header text-center">-->
        <!--<div class="author-image">-->
          <!--<img class="img-circle" src="assets/images/vasylenko_svetlana_small.jpg" alt="PosckuraYuriy"/>-->
        <!--</div>-->
        <!--<h5 class="card-title">{{vasylenko_svetlana_name}}</h5>-->
      <!--</div>-->
      <!--<div class="card-body">-->
        <!--<div class="role card-text text-center">{{vasylenko_svetlana_role}}</div>-->
        <!--<p class="card-text text-center">{{vasylenko_svetlana_boast}}</p>-->
      <!--</div>-->
      <!--<div class="card-footer">-->
        <!--<div class="text-muted text-right">More...</div>-->
      <!--</div>-->
    <!--</div>&lt;!&ndash; end front panel &ndash;&gt;-->
    <!--<div class="back text-white bg-info text-center">-->
      <!--<div class="card-body">-->
        <!--<div class="back-content">-->
          <!--<p class="card-text text-center">{{vasylenko_svetlana_life}}</p>-->
          <!--<p class="card-text text-center">{{vasylenko_svetlana_why_in_project}}</p>-->
          <!--<b class="card-text text-dark text-center">{{vasylenko_svetlana_email}}</b>-->
          <!--<div class="sm text-center">-->
            <!--<a href="{{vasylenko_svetlana_fb}}" target="_blank"><i class="fab fa-facebook-f"></i></a>-->
            <!--<a href="#" target="_blank"><i class="fab fa-twitter"></i></a>-->
            <!--<a href="mailto:{{vasylenko_svetlana_email}}?subject=Question about psymatch"><i class="fas fa-at"></i></a>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>&lt;!&ndash; end back panel &ndash;&gt;-->
  <!--</div>&lt;!&ndash; end card &ndash;&gt;-->

</div><!-- end card-deck -->

