
<div class="card-deck d-flex justify-content-center">

  <!-- PROSCKURA YURIY -->
  <div class="card bg-info text-white ">
      <div class="card-header text-center">
        <div class="author-image d-flex justify-content-center">
          <img class="img-circle" src="assets/images/PosckuraYuriy_small.jpg" alt="ProsckuraYuriy"/>
        </div>
        <br>
        <h3>{{ prosckura_yuriy_name }}</h3>
      </div>
      <div class="card-body">
        <div class="card-text text-center role">{{prosckura_yuriy_role}}</div>
        <!--<a href="{{prosckura_yuriy_link_psymetrics}}" target="_blank">{{ prosckura_yuriy_link_name_psymetrics }}</a>-->
        <!--<a href="{{prosckura_yuriy_link_test_constructor}}" target="_blank">{{ prosckura_yuriy_link_name_test_constructor }}</a>-->

        <div class="sm text-center">
          <a href="{{prosckura_yuriy_fb}}" target="_blank"><i class="fab fa-facebook-f"></i></a>
          <a href="mailto:{{prosckura_yuriy_email}}?subject=Question about psymatch"><i class="fas fa-at"></i></a>
        </div>
      </div>
      <div class="card-footer">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-link customDecorated" data-toggle="modal" data-target="#modalProsckuraYuriy">
          Подробнее...
        </button>
      </div>
  </div><!-- end card -->

  <!-- Modal -->
  <div class="modal fade" id="modalProsckuraYuriy" tabindex="-1" aria-labelledby="modalProsckuraYuriyTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content bg-info" data-dismiss="modal">
        <div class="modal-header">
          <div class="container-fluid">
            <div class="row">
              <div class="offset-1 offset-md-6 col-9 col-md-5 ">
                <h3 class="modal-title">{{ prosckura_yuriy_name }}</h3>
              </div>
              <div class="col-1">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-body customDecorated d-flex justify-content-center">
          <div class="row align-items-center">
            <div class="col-md-5 d-none d-sm-none d-md-block">
              <div class="author-image-modal d-flex align-items-center justify-content-center">
                <img class="img-circle" src="assets/images/PosckuraYuriy_medium.jpg"
                    id="imageProsckuraYuriy" alt="ProsckuraYuriy"/>
              </div>
            </div><!-- end col -->
            <div class="col-md-7 author-content">
              <ul>
                <li class="card-text role">
                  <span class="li-header">{{role_header}}</span>
                  {{prosckura_yuriy_role}}
                </li>
                <li class="card-text">
                  <span class="li-header">{{boast_header}}</span>
                  {{prosckura_yuriy_boast1}}
                  <a href="{{prosckura_yuriy_link_upa}}" target="_blank">{{prosckura_yuriy_link_name_upa}}</a>
                  {{prosckura_yuriy_boast2}}
                  <a href="{{prosckura_yuriy_link_psymetrics}}" target="_blank">{{ prosckura_yuriy_link_name_psymetrics }}</a>
                  {{prosckura_yuriy_boast3}}
                  <a href="{{prosckura_yuriy_link_test_constructor}}" target="_blank">{{ prosckura_yuriy_link_name_test_constructor }}</a>
                </li>
                <li class="card-text">
                  <span class="li-header">{{life_header}}</span>
                  {{ prosckura_yuriy_life }}
                </li>
                <li class="card-text">
                  <span class="li-header">{{why_in_project_header}}</span>
                  {{ prosckura_yuriy_why_in_project }}
                </li>
              </ul>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
            </div><!-- end col -->
          </div><!-- end row -->
        </div><!--end modal-body -->
      </div><!--end modal-content -->
    </div><!--end modal-dialog-->
  </div><!--end Modal -->
  <!--end card-->
  <!-- PROSCKURA YURIY -->



  <!--KONTAR MARYNA -->
  <div class="card bg-info text-white ">
    <div class="card-header text-center">
      <div class="author-image d-flex justify-content-center">
        <img class="img-circle" src="assets/images/kontar_maryna_small.jpg" alt="KontarMaryna"/>
      </div>
      <br>
      <h3>{{ kontar_maryna_name }}</h3>
    </div>
    <div class="card-body">
      <div class="card-text text-center role">{{kontar_maryna_role}}</div>

      <div class="sm text-center">
        <a href="{{kontar_maryna_fb}}" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a href="{{kontar_maryna_github}}" target="_blank"><i class="fab fa-github"></i></a>
        <a href="mailto:{{kontar_maryna_email}}?subject=Question about psymatch"><i class="fas fa-at"></i></a>
      </div>
    </div>
    <div class="card-footer">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-link customDecorated" data-toggle="modal" data-target="#modalKontarMaryna">
        Подробнее...
      </button>
    </div>
  </div><!-- end card -->

  <!-- Modal -->
  <div class="modal fade" id="modalKontarMaryna" tabindex="-1" aria-labelledby="modalKontarMarynaTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content bg-info" data-dismiss="modal">
        <div class="modal-header">
          <div class="container-fluid">
            <div class="row">
              <div class="offset-1 offset-md-6 col-10 col-md-5 ">
                <h3 class="modal-title">{{ kontar_maryna_name }}</h3>
              </div>
              <div class="col-1">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  &times;
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-body customDecorated d-flex ">
          <div class="row align-items-center">
            <div class="col-md-5 d-none d-sm-none d-md-block">
              <div class="author-image-modal d-flex  align-items-center justify-content-center">
                <img class="img-circle" src="assets/images/kontar_maryna_small.jpg" id="imageKontarMaryna" alt="KontarMaryna"/>
              </div>
            </div><!-- end col -->
            <div class="col-md-7 author-content">
              <ul>
                <li class="card-text role">
                  <span class="li-header">{{role_header}}</span>
                  {{kontar_maryna_role}}
                </li>
                <li class="card-text">
                  <span class="li-header">{{boast_header}}</span>
                  {{kontar_maryna_boast}}
                  </li>
                <li class="card-text">
                  <span class="li-header">{{life_header}}</span>
                  {{ kontar_maryna_life }}
                </li>
                <li class="card-text">
                  <span class="li-header">{{why_in_project_header}}</span>
                  {{ kontar_maryna_why_in_project }}
                </li>
              </ul>
            </div><!-- end col -->
          </div><!-- end row -->
        </div><!--end modal-body -->
      </div><!--end modal-content -->
    </div><!--end modal-dialog-->
  </div><!--end Modal -->
  <!--end card-->
  <!-- KONTAR MARYNA -->



  <!--PROSCKURA VITALIY -->
  <div class="card bg-info text-white ">
    <div class="card-header text-center">
      <div class="author-image d-flex justify-content-center">
        <img class="img-circle" src="assets/images/prosckura_vitaliy_small.jpg" alt="ProsckuraVitaliy"/>
      </div>
      <br>
      <h3>{{ prosckura_vitaliy_name }}</h3>
    </div>
    <div class="card-body">
      <div class="card-text text-center role">{{prosckura_vitaliy_role}}</div>

      <div class="sm text-center">
        <a href="{{prosckura_vitaliy_fb}}" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a href="{{prosckura_vitaliy_github}}" target="_blank"><i class="fab fa-github"></i></a>
        <a href="mailto:{{prosckura_vitaliy_email}}?subject=Question about psymatch"><i class="fas fa-at"></i></a>
      </div>
    </div>
    <div class="card-footer">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-link customDecorated" data-toggle="modal" data-target="#modalProsckuraVitaliy">
        Подробнее...
      </button>
    </div>
  </div><!-- end card -->

  <!-- Modal -->
  <div class="modal fade" id="modalProsckuraVitaliy" tabindex="-1" aria-labelledby="modalProsckuraVitaliyTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content bg-info" data-dismiss="modal">
        <div class="modal-header">
          <div class="container-fluid">
            <div class="row">
              <div class="offset-1 offset-md-6 col-10 col-md-5 ">
                <h3 class="modal-title">{{ prosckura_vitaliy_name }}</h3>
              </div>
              <div class="col-1">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  &times;
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-body customDecorated d-flex justify-content-center">
          <div class="row align-items-center">
            <div class="col-md-5 d-none d-sm-none d-md-block">
              <div class="author-image-modal d-flex align-items-center justify-content-center">
                <img class="img-circle" src="assets/images/prosckura_vitaliy_small.jpg" id="imageProsckuraVitaliy" alt="ProsckuraVitaliy"/>
              </div>
            </div><!-- end col -->
            <div class="col-md-7 author-content">
              <ul>
                <li class="card-text role">
                  <span class="li-header">{{role_header}}</span>
                  {{prosckura_vitaliy_role}}
                </li>
                <li class="card-text">
                  <span class="li-header">{{boast_header}}</span>
                  {{prosckura_vitaliy_boast}}
                </li>
                <li class="card-text">
                  <span class="li-header">{{life_header}}</span>
                  {{ prosckura_vitaliy_life }}
                </li>
                <li class="card-text">
                  <span class="li-header">{{why_in_project_header}}</span>
                  {{ prosckura_vitaliy_why_in_project }}
                </li>
              </ul>
            </div><!-- end col -->
          </div><!-- end row -->
        </div><!--end modal-body -->
      </div><!--end modal-content -->
    </div><!--end modal-dialog-->
  </div><!--end Modal -->
  <!--end card-->



  <!-- VASYLENKO SVETLANA -->
  <div class="card bg-info text-white ">
    <div class="card-header text-center">
      <div class="author-image d-flex justify-content-center">
        <img class="img-circle" src="assets/images/vasylenko_svetlana_small.jpg" alt="VasylenkoSvetlana"/>
      </div>
      <br>
      <h3>{{ vasylenko_svetlana_name }}</h3>
    </div>
    <div class="card-body">
      <div class="card-text text-center role">{{vasylenko_svetlana_role}}</div>

      <div class="sm text-center">
        <a href="{{vasylenko_svetlana_fb}}" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a href="mailto:{{vasylenko_svetlana_email}}?subject=Question about psymatch"><i class="fas fa-at"></i></a>
      </div>
    </div>
    <div class="card-footer">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-link customDecorated" data-toggle="modal" data-target="#modalVasylenkoSvetlana">
        Подробнее...
      </button>
    </div>
  </div><!-- end card -->

  <!-- Modal -->
  <div class="modal fade" id="modalVasylenkoSvetlana" tabindex="-1" aria-labelledby="modalVasylenkoSvetlanaTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content bg-info" data-dismiss="modal">
        <div class="modal-header">
          <div class="container-fluid">
            <div class="row">
              <div class="offset-1 offset-md-6 col-10 col-md-5 ">
                <h3 class="modal-title">{{ prosckura_svetlana_name }}</h3>
              </div>
              <div class="col-1">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  &times;
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-body customDecorated d-flex justify-content-center">
          <div class="row align-items-center">
            <div class="col-md-5 d-none d-sm-none d-md-block">
              <div class="author-image-modal d-flex align-items-center justify-content-center">
                <img class="img-circle" src="assets/images/vasylenko_svetlana_small.jpg" id="imageVasylenkoSvetlana" alt="VasylenkoSvetlana"/>
              </div>
            </div><!-- end col -->
            <div class="col-md-7 author-content">
              <ul>
                <li class="card-text role">
                  <span class="li-header">{{role_header}}</span>
                  {{vasylenko_svetlana_role}}
                </li>
                <li class="card-text">
                  <span class="li-header">{{boast_header}}</span>
                  {{vasylenko_svetlana_boast}}
                </li>
                <li class="card-text">
                  <span class="li-header">{{life_header}}</span>
                  {{ vasylenko_svetlana_life }}
                </li>
                <li class="card-text">
                  <span class="li-header">{{why_in_project_header}}</span>
                  {{ vasylenko_svetlana_why_in_project }}
                </li>
              </ul>
            </div><!-- end col -->
          </div><!-- end row -->
        </div><!--end modal-body -->
      </div><!--end modal-content -->
    </div><!--end modal-dialog-->
  </div><!--end Modal -->
  <!--end card-->
  <!-- VASYLENKO SVETLANA -->
</div><!-- end card-deck -->

<script>
  // function myFunction1() {
  //   document.getElementById("google.com").on('click',"a[data-window='external']", function() {
  //     window.open($(this).attr('href'));
  //     return false;
  // });
  // }
  $('#modalProsckuraYuriy').on('click',"a[data-window='external']", function() {
    window.open($(this).attr('href'));
    return false;
  });
  // function myFunction() {
  //   window.open("https://www.w3schools.com");
  // }
</script>
