// Extra small devices (less than 576px)
.card-deck {
  margin: 8% 11% auto;
  flex-flow: row wrap;
}
.card {
  min-width: 315px;
  max-width: 400px;
  margin: 2% 0%;
  text-align: center;
}
.card:hover{
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}
.card, .modal-content {
  border-radius: 5%;
  border-color:  rgba(255,255,255,0);
  box-shadow: 30px 30px 40px rgba(0, 0, 0, 0.4);
}
.author-image img, .author-image-modal img {
  background: none repeat scroll 0 0 #FFFFFF;
}
.author-image img {
  height: 220px; // 1.11
  width: 198px;
}
.img-circle {
  border-radius: 45%;
}
.card-body {
  margin: 0 1%;
  font-size: larger;
  display: flex; // to fix .sm bottom of card-body: .card-body{display: flex;flex-direction: column;} and .sm{ margin-top: auto;}
  flex-direction: column;
}
.card-text {
  font-size: larger;
}
.role {
  margin: 0 0 4% 0;
  font-size: larger;
}
.sm {
  margin-top: auto; /* to fix .sm bottom of card-body: .card-body{display: flex;flex-direction: column;} and .sm{ margin-top: auto;} */
}
.sm a {
  display: inline-flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  color:#2c3e50;
  font-size: 18px;
  transition: 0.4s;
  border-radius: 50%;
}
.sm a:hover {
  background: #2c3e50;
  color: white;
}
.btn-link {
  font-size: x-large;
}
.customDecorated{
  color: white;
}
.customDecorated:active, /* активная/посещенная ссылка */
.customDecorated:hover,  /* при наведении */
.customDecorated{
  text-decoration: none;
}
.card-content.customDecorated:hover,
.btn.customDecorated:hover,
.footer:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  color: rgba(0,0,170, 0.6);
}

//======== MODAL CARDS========
.modal-dialog, .modal-content {
  margin: auto auto; /* modal will be centered for all device sizes */
  min-width: 310px;
  max-width: 400px;
}
.modal-header {
  border-bottom: none;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 0;
}
.modal-title, .close {
  font-size: xx-large;
  color: white;
}
.modal-body.row {
  margin-top: 5%;
  margin-bottom: 5%;
}
.author-image-modal {
  padding-bottom: 10%;
}
#imageProsckuraYuriy, #imageKontarMaryna {
  height: 490px;
  width: 328px;
  border-radius: 20%;
}
#imageKontarMaryna {
  max-height: 400px;
}

.author-content {
  padding-left: 1.5%;
  margin-left: 0;
}
ul {
  padding-left: 1% ;
  list-style-type: none; /* Прячем исходные маркеры */
}
li {
  margin-top: 7%;
}
.li-header {
  font-weight: bold;
}
.card-text a {
  color: brown;
}



// ======= RESPONSIVE ========
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .card-deck {
    margin: 4% auto 8% auto;
  }
  .card {
    width: 400px;
    min-width: 400px;
    margin: 2% 1%;
  }
  .card-text {
    text-align: justify;
  }
  .author-image img {
    height: 270px;
    width: 243px;
  }
  .modal-dialog, .modal-content {
    width: 500px;
    min-width: 500px;
    max-width: 500px;
  }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .card-deck {
    margin: 1% 1% 5% 1%;
  }
  .modal-dialog, .modal-content {
    width: 750px;
    min-width: 750px;
    max-width: 750px;
  }
  .modal-body {
    padding-left: 5%;
    padding-right: 5%;
  }
  #imageProsckuraYuriy, #imageKontarMaryna {
    height: 448px;
    width: 300px;
  }
  ul {
    list-style-type: unset;
    padding-inline-start: 30px;
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .modal-dialog, .modal-content {
    width: 900px;
    min-width: 900px;
    max-width: 900px;
  }
  .modal-body {
    padding-left: 3%;
    padding-right: 5%;
  }
  #imageProsckuraYuriy, #imageKontarMaryna {
    height: 490px;
    width: 328px;
  }
  ul {
    padding-inline-start: 20px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .card-deck {
    margin: 0% 1% 2% 0%;
  }
  .modal-dialog, .modal-content {
    width: 1100px;
    min-width:1100px;
    max-width: 1100px;
  }
  ul {
    padding-inline-start: 0px;
  }
}
