// Extra small and small devices (portrait, landscape phones, less than 768px)
.tests-list {
  //padding: 1% 2%;
  margin: 0 3%;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .tests-list {
    margin-bottom: 5%;
  }
}
// Large, extra large devices (desktops, 992px and up)
@media (min-width: 992px) {
  margin-bottom: 3%;
}
