<!----------MODAL--------->
<button class="btn btn-primary" id="openModalRegistration" data-backdrop="static" #openModalRegistration data-toggle="modal" [hidden]="true" data-target="#registration">Зарегистрироваться</button>

<div class="modal fade" id="registration" tabindex="-1" role="dialog" aria-labelledby="registrationModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="registrationModalLabel">Registration</h5>
        <!--<button type="button" class="close" aria-label="Close">-->
        <!--<span aria-hidden="true">&times;</span>-->
        <!--</button>-->
      </div>
      <div class="modal-body">
        <form class="form" >
          <div class="form-group">
            <label for="name">Name</label>
            <input [(ngModel)]="registeredUser.name" id="name" name="name" type="text"
                   class="form-control rounded-0" required placeholder="name" #name="ngModel">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input [(ngModel)]="registeredUser.email" id="email" name="email" type="email"
                   class="form-control rounded-0" required placeholder="email" #email="ngModel"
                   pattern="[a-zA-Z_]+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}" />
            <div [hidden]="email.valid || email.untouched" class="alert alert-danger">
              Некорректный email
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input [(ngModel)]="registeredUser.password" id="password" name="password" type="password"
                   class="form-control rounded-0"required placeholder="password" #password="ngModel">
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
        <button (click)="registerUser()" type="button" data-dismiss="modal"
                [disabled]="name.invalid || email.invalid || password.invalid" class="btn btn-primary float-right">Register</button>
        <!--<button *ngIf="isRegistered()" (click)="registerNewUser()" type="button" class="btn btn-primary float-right">Register New</button>-->
        <!--<button *ngIf="!isRegistered()" (click)="registerUser()" type="button" class="btn btn-primary float-right">Register</button>-->
      </div>
    </div>
  </div>
</div>


<!----------NOT MODAL--------->
<!--<div class="row">-->
  <!--<div class="col-md-6 mx-auto">-->
    <!--<div class="card rounded-0">-->
      <!--<div class="card-header">-->
        <!--<h3 class="mb-0">Register</h3>-->
      <!--</div>-->
      <!--<div class="card-body">-->
        <!--<form class="form" >-->
          <!--<div class="form-group">-->
            <!--<label for="name">Name</label>-->
            <!--<input [(ngModel)]="registeredUser.name" id="name" name="name" type="text" class="form-control rounded-0" required placeholder="name">-->
          <!--</div>-->
          <!--<div class="form-group">-->
            <!--<label for="email">Email</label>-->
            <!--<input [(ngModel)]="registeredUser.email" id="email" name="email" type="email" class="form-control rounded-0" required placeholder="email">-->
          <!--</div>-->
          <!--<div class="form-group">-->
            <!--<label for="password">Password</label>-->
            <!--<input [(ngModel)]="registeredUser.password" id="password" name="password" type="password" class="form-control rounded-0" placeholder="password">-->
          <!--</div>-->
          <!--&lt;!&ndash;<button *ngIf="isRegistered()" (click)="registerNewUser()" type="button" class="btn btn-primary float-right">Register New</button>&ndash;&gt;-->
          <!--&lt;!&ndash;<button *ngIf="!isRegistered()" (click)="registerUser()" type="button" class="btn btn-primary float-right">Register</button>&ndash;&gt;-->
          <!--<button (click)="registerUser()" type="button" class="btn btn-primary float-right">Register</button>-->
        <!--</form>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
