.test-in-development {
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  margin: 20% 10% 10% 10%;
}
button {
  font-size: 40px;
}

@media(max-width:991.98px) {
  .test-in-development {
    font-size: 40px;
  }
}
@media(max-width:575.98px) {
  .test-in-development {
    font-size: 25px;
  }
}
