<div class="card">
  <div class="front">
    <img src="assets/images/PosckuraYuriy_small.jpg" alt="PosckuraYuriy"/>
  </div>
  <div class="back">
    <div class="back-content middle">
      <h2>DarkCode</h2>
      <span>Youtube Channel</span>
      <div class="sm">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
      </div>
    </div>
  </div>
</div>






























<!--<div class="card-wrapper">-->
  <!--<div class="card-box card-flip" [@flip]="flip">-->
    <!--<div class="card-box-side front">-->
      <!--<button (click)="toggleFlip()">More...</button>-->
      <!--<p>Front</p>-->

    <!--</div>-->
    <!--<div class="card-box-side back">Back-->
      <!--<button (click)="toggleFlip()">back...</button>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->



<!--<section>-->
  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div class="col-sm-6 col-lg-4">-->
        <!--&lt;!&ndash; Card Flip &ndash;&gt;-->
        <!--<div class="card-flip" [@flip]="flip">-->
          <!--<div class="flip">-->
            <!--<div class="front">-->
              <!--&lt;!&ndash; front content &ndash;&gt;-->
              <!--<div class="card">-->
                <!--<img class="card-img-top" data-src="holder.js/100px180/" alt="100%x180" style="height: 180px; width: 100%; display: block;" data-holder-rendered="true">-->
                <!--<div class="card-block">-->
                  <!--<h4 class="card-title">Card Flip</h4>-->
                  <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
                  <!--<button  class="" (click)="toggleFlip()">Go somewhere</button>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="back">-->
              <!--&lt;!&ndash; back content &ndash;&gt;-->
              <!--<div class="card">-->
                <!--<div class="card-block">-->
                  <!--<h4 class="card-title">Card Flip</h4>-->
                  <!--<h6 class="card-subtitle text-muted">Support card subtitle</h6>-->
                <!--</div>-->
                <!--<img data-src="holder.js/100px180/?text=Image" alt="Image [100%x180]" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">-->
                <!--<div class="card-block">-->
                  <!--<p class="card-text">DFGTGTRHRTHRHHHHHTHard title and make up the bulk of the card's content.</p>-->
                  <!--<a href="#" class="card-link">Card link</a>-->
                  <!--<a href="#" class="card-link">Another link</a>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash; End Card Flip &ndash;&gt;-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</section>-->










<!--&lt;!&ndash;Author cards&ndash;&gt;-->
<!--&lt;!&ndash;<section>&ndash;&gt;-->
  <!--<div class="container">-->
  <!--<div class="row">-->
    <!--<div class="card-group">-->
      <!--&lt;!&ndash;<div class="col-sm-10 col-sm-offset-1">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="col-md-3 col-sm-6">&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="card-container">&ndash;&gt;-->
          <!--<div class="card card-flip" [@flip]="flip">-->

            <!--<div class="card-front">-->
              <!--<div class="test">-->
                <!--<img class="card-img" src="http://gramercyrow.com/wp-content/uploads/2018/01/Article-0218-bigstock-couple-hiking-holding-hands-222994444-800x250.jpg" alt="test"/>-->
              <!--</div>-->
              <!--<div class="card-img-overlay">-->
                <!--<div class="card-header">-->
                  <!--<div class="card-title">Личностная совместимость</div>-->
                <!--</div>-->
                <!--<div class="card-body">-->
                  <!--<div class="card-text">rfggfgfgdffdfdbg</div>-->
                <!--</div>-->
                <!--<div class="card-footer">-->
                  <!--<button class="link" (click)="toggleFlip()">More...</button>-->
                  <!--<div class="card-link">-->
                    <!--<a routerLink="/user-test">Link</a>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div> &lt;!&ndash; end front panel &ndash;&gt;-->

            <!--<div class="card-back">-->
              <!--<div class="test">-->
                <!--<img class="card-img" src="assets/images/PosckuraYuriy_small.jpg" alt="PosckuraYuriy"/>-->
              <!--</div>-->
              <!--<div class="card-img-overlay">-->
                <!--<div class="card-header">-->
                  <!--<div class="card-title">Личностная совместимость</div>-->
                <!--</div>-->
                <!--<div class="card-body">-->
                  <!--<div class="card-text">rSDFHHJJUYYUKYUKUYKYJ</div>-->
                <!--</div>-->
                <!--<div class="card-footer">-->
                  <!--<div class="card-link">-->
                    <!--<a routerLink="/user-test">Link</a>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div> &lt;!&ndash; end back panel &ndash;&gt;-->

          <!--</div> &lt;!&ndash; end card &ndash;&gt;-->
        <!--&lt;!&ndash;</div> &lt;!&ndash; end card-container &ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;</div> &lt;!&ndash; end col-md-3 &ndash;&gt;&ndash;&gt;-->

    <!--</div>-->
  <!--</div> &lt;!&ndash; end row &ndash;&gt;-->
  <!--<div class="space-200"></div>-->
<!--</div>-->
<!--&lt;!&ndash;</section>&ndash;&gt;-->
