
<div class="card-deck justify-content-center">

  <!--PROSCKURA YURIY -->
  <div class="card">
    <div class="front text-white bg-info">
      <div class="card-header text-center">
        <div class="author-image">
          <img class="img-circle" src="assets/images/PosckuraYuriy_small.jpg" alt="PosckuraYuriy"/>
        </div>
        <h5 class="card-title">{{prosckura_yuriy_name}}</h5>
      </div>
      <div class="card-body">
        <div class="role card-text text-center">{{prosckura_yuriy_role}}</div>
        <p class="card-text text-center">{{prosckura_yuriy_boast}}</p>
      </div>
      <div class="card-footer">
        <div class="text-muted text-right">More...</div>
      </div>
    </div><!-- end front panel -->
    <div class="back text-white bg-info text-center">
      <div class="card-body">
        <div class="back-content">
          <p class="card-text text-center">{{prosckura_yuriy_life}}</p>
          <p class="card-text text-center">{{prosckura_yuriy_why_in_project}}</p>
          <b class="card-text text-dark text-center">{{prosckura_yuriy_email}}</b>
          <div class="sm text-center">
            <a href="{{prosckura_yuriy_fb}}" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="mailto:{{prosckura_yuriy_email}}?subject=Question about psymatch"><i class="fas fa-at"></i></a>
          </div>
        </div>
      </div>
    </div><!-- end back panel -->
  </div><!-- end card -->

  <!--KONTAR MARYNA-->
  <div class="card">
    <div class="front text-white bg-info">
      <div class="card-header text-center">
        <div class="author-image">
          <img class="img-circle" src="assets/images/kontar_maryna_small.jpg" alt="PosckuraYuriy"/>
        </div>
        <h5 class="card-title">{{kontar_maryna_name}}</h5>
      </div>
      <div class="card-body">
        <div class="role card-text text-center">{{kontar_maryna_role}}</div>
        <p class="card-text text-center">{{kontar_maryna_boast}}</p>
      </div>
      <div class="card-footer">
        <div class="text-muted text-right">More...</div>
      </div>
    </div><!-- end front panel -->
    <div class="back text-white bg-info text-center">
      <div class="card-body">
        <div class="back-content">
          <p class="card-text text-center">{{kontar_maryna_life}}</p>
          <p class="card-text text-center">{{kontar_maryna_why_in_project}}</p>
          <b class="card-text text-dark text-center">{{kontar_maryna_email}}</b>
          <div class="sm text-center">
            <a href="{{kontar_maryna_fb}}" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="{{kontar_maryna_github}}" target="_blank"><i class="fab fa-github"></i></a>
            <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="mailto:{{kontar_maryna_email}}?subject=Question about psymatch"><i class="fas fa-at"></i></a>
          </div>
        </div>
      </div>
    </div><!-- end back panel -->
  </div><!-- end card -->

  <!--PROSCKURA VITALIY -->
  <div class="card">
    <div class="front text-white bg-info">
      <div class="card-header text-center">
        <div class="author-image">
          <img class="img-circle" src="assets/images/prosckura_vitaliy_small.jpg" alt="PosckuraYuriy"/>
        </div>
        <h5 class="card-title">{{prosckura_vitaliy_name}}</h5>
      </div>
      <div class="card-body">
        <div class="role card-text text-center">{{prosckura_vitaliy_role}}</div>
        <p class="card-text text-center">{{prosckura_vitaliy_boast}}</p>
      </div>
      <div class="card-footer">
        <div class="text-muted text-right">More...</div>
      </div>
    </div><!-- end front panel -->
    <div class="back text-white bg-info text-center">
      <div class="card-body">
        <div class="back-content">
          <p class="card-text text-center">{{prosckura_vitaliy_life}}</p>
          <p class="card-text text-center">{{prosckura_vitaliy_why_in_project}}</p>
          <b class="card-text text-dark text-center">{{prosckura_vitaliy_email}}</b>
          <div class="sm text-center">
            <a href="{{prosckura_vitaliy_fb}}" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="{{prosckura_vitaliy_github}}" target="_blank"><i class="fab fa-github"></i></a>
            <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="mailto:{{prosckura_vitaliy_email}}?subject=Question about psymatch"><i class="fas fa-at"></i></a>
          </div>
        </div>
      </div>
    </div><!-- end back panel -->
  </div><!-- end card -->

  <!--VASYLENKO SVETLANA-->
  <div class="card">
    <div class="front text-white bg-info">
      <div class="card-header text-center">
        <div class="author-image">
          <img class="img-circle" src="assets/images/vasylenko_svetlana_small.jpg" alt="PosckuraYuriy"/>
        </div>
        <h5 class="card-title">{{vasylenko_svetlana_name}}</h5>
      </div>
      <div class="card-body">
        <div class="role card-text text-center">{{vasylenko_svetlana_role}}</div>
        <p class="card-text text-center">{{vasylenko_svetlana_boast}}</p>
      </div>
      <div class="card-footer">
        <div class="text-muted text-right">More...</div>
      </div>
    </div><!-- end front panel -->
    <div class="back text-white bg-info text-center">
      <div class="card-body">
        <div class="back-content">
          <p class="card-text text-center">{{vasylenko_svetlana_life}}</p>
          <p class="card-text text-center">{{vasylenko_svetlana_why_in_project}}</p>
          <b class="card-text text-dark text-center">{{vasylenko_svetlana_email}}</b>
          <div class="sm text-center">
            <a href="{{vasylenko_svetlana_fb}}" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="mailto:{{vasylenko_svetlana_email}}?subject=Question about psymatch"><i class="fas fa-at"></i></a>
          </div>
        </div>
      </div>
    </div><!-- end back panel -->
  </div><!-- end card -->

</div><!-- end card-deck -->





<!--<div class="card-container">-->
<!--<div class="card">-->
<!--<div class="card-front text-white bg-info text-center">-->
<!--<div class="card-header">-->
<!--<div class="author-image ">-->
<!--<img class="img-circle" src="assets/images/PosckuraYuriy_small.jpg" alt="PosckuraYuriy"/>-->
<!--</div>-->
<!--<h5 class="card-title">Юрий Проскура</h5>-->
<!--</div>-->
<!--<div class="card-body">-->
<!--<p class="card-text">Почетный член Всеукраинской психодиагностической ассоциации (ВПА), член Тестового комитета, специалист по психологической оценке персонала, разработал самостоятельно и  принял участие в разработке более 20-ти психологических тестов. Спроектировал и разработал 2 онлайн-системы психологического тестирования:-->
<!--<span><a href="" target="_blank">Psymetrics</a></span><span> и Тестовый конструктор</span></p>-->
<!--</div>-->
<!--<div class="card-footer">-->
<!--<div class="text-muted text-right">More...</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="card">-->
<!--<div class="card-back text-white bg-info text-center">-->
<!--<div class="back-content">-->
<!--<div class="card-body">-->
<!--<p class="card-text">Чем живу? Исследовательским и изобретательским энтузиазмом, верой в то, что все получится, мыслями как сделать-->
<!--этот мир лучше, йогой и работой над собой, хорошей музыкой и хорошими книгами.</p>-->
<!--<p>Зачем я в проекте? Хочу  совершить очередное профессиональное достижение и реализовать свои знания и-->
<!--способности. Хочу воплотить в реальность свои идеи.  Хочу быть полезным для людей и помогать им в осознанном выборе партнёра и-->
<!--выстраивании отношений.</p>-->
<!--<div class="sm">-->
<!--<a href="#"><i class="fab fa-facebook-f"></i></a>-->
<!--<a href="#"><i class="fab fa-twitter"></i></a>-->
<!--<a href="#"><i class="fab fa-youtube"></i></a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="card-container">-->
<!--<div class="card">-->
<!--<div class="card-front text-white bg-info text-center">-->
<!--<div class="card-header">-->
<!--<div class="author-image ">-->
<!--<img class="img-circle" src="assets/images/PosckuraYuriy_small.jpg" alt="PosckuraYuriy"/>-->
<!--</div>-->
<!--<h5 class="card-title">Юрий Проскура</h5>-->
<!--</div>-->
<!--<div class="card-body">-->
<!--<p class="card-text">Почетный член Всеукраинской психодиагностической ассоциации (ВПА), член Тестового комитета, специалист по психологической оценке персонала, разработал самостоятельно и  принял участие в разработке более 20-ти психологических тестов. Спроектировал и разработал 2 онлайн-системы психологического тестирования:-->
<!--<span><a href="" target="_blank">Psymetrics</a></span><span> и Тестовый конструктор</span></p>-->
<!--</div>-->
<!--<div class="card-footer">-->
<!--<div class="text-muted text-right">More...</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="card">-->
<!--<div class="card-back text-white bg-info text-center">-->
<!--<div class="back-content">-->
<!--<div class="card-body">-->
<!--<p class="card-text">Чем живу? Исследовательским и изобретательским энтузиазмом, верой в то, что все получится, мыслями как сделать-->
<!--этот мир лучше, йогой и работой над собой, хорошей музыкой и хорошими книгами.</p>-->
<!--<p>Зачем я в проекте? Хочу  совершить очередное профессиональное достижение и реализовать свои знания и-->
<!--способности. Хочу воплотить в реальность свои идеи.  Хочу быть полезным для людей и помогать им в осознанном выборе партнёра и-->
<!--выстраивании отношений.</p>-->
<!--<div class="sm">-->
<!--<a href="#"><i class="fab fa-facebook-f"></i></a>-->
<!--<a href="#"><i class="fab fa-twitter"></i></a>-->
<!--<a href="#"><i class="fab fa-youtube"></i></a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="card-container">-->
<!--<div class="card">-->
<!--<div class="card-front text-white bg-info text-center">-->
<!--<div class="card-header">-->
<!--<div class="author-image ">-->
<!--<img class="img-circle" src="assets/images/PosckuraYuriy_small.jpg" alt="PosckuraYuriy"/>-->
<!--</div>-->
<!--<h5 class="card-title">Юрий Проскура</h5>-->
<!--</div>-->
<!--<div class="card-body">-->
<!--<p class="card-text">Почетный член Всеукраинской психодиагностической ассоциации (ВПА), член Тестового комитета, специалист по психологической оценке персонала, разработал самостоятельно и  принял участие в разработке более 20-ти психологических тестов. Спроектировал и разработал 2 онлайн-системы психологического тестирования:-->
<!--<span><a href="" target="_blank">Psymetrics</a></span><span> и Тестовый конструктор</span></p>-->
<!--</div>-->
<!--<div class="card-footer">-->
<!--<div class="text-muted text-right">More...</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="card">-->
<!--<div class="card-back text-white bg-info text-center">-->
<!--<div class="back-content">-->
<!--<div class="card-body">-->
<!--<p class="card-text">Чем живу? Исследовательским и изобретательским энтузиазмом, верой в то, что все получится, мыслями как сделать-->
<!--этот мир лучше, йогой и работой над собой, хорошей музыкой и хорошими книгами.</p>-->
<!--<p>Зачем я в проекте? Хочу  совершить очередное профессиональное достижение и реализовать свои знания и-->
<!--способности. Хочу воплотить в реальность свои идеи.  Хочу быть полезным для людей и помогать им в осознанном выборе партнёра и-->
<!--выстраивании отношений.</p>-->
<!--<div class="sm">-->
<!--<a href="#"><i class="fab fa-facebook-f"></i></a>-->
<!--<a href="#"><i class="fab fa-twitter"></i></a>-->
<!--<a href="#"><i class="fab fa-youtube"></i></a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="card-container">-->
<!--<div class="card">-->
<!--<div class="card-front text-white bg-info text-center">-->
<!--<div class="card-header">-->
<!--<div class="author-image ">-->
<!--<img class="img-circle" src="assets/images/PosckuraYuriy_small.jpg" alt="PosckuraYuriy"/>-->
<!--</div>-->
<!--<h5 class="card-title">Юрий Проскура</h5>-->
<!--</div>-->
<!--<div class="card-body">-->
<!--<p class="card-text">Почетный член Всеукраинской психодиагностической ассоциации (ВПА), член Тестового комитета, специалист по психологической оценке персонала, разработал самостоятельно и  принял участие в разработке более 20-ти психологических тестов. Спроектировал и разработал 2 онлайн-системы психологического тестирования:-->
<!--<span><a href="" target="_blank">Psymetrics</a></span><span> и Тестовый конструктор</span></p>-->
<!--</div>-->
<!--<div class="card-footer">-->
<!--<div class="text-muted text-right">More...</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="card">-->
<!--<div class="card-back text-white bg-info text-center">-->
<!--<div class="back-content">-->
<!--<div class="card-body">-->
<!--<p class="card-text">Чем живу? Исследовательским и изобретательским энтузиазмом, верой в то, что все получится, мыслями как сделать-->
<!--этот мир лучше, йогой и работой над собой, хорошей музыкой и хорошими книгами.</p>-->
<!--<p>Зачем я в проекте? Хочу  совершить очередное профессиональное достижение и реализовать свои знания и-->
<!--способности. Хочу воплотить в реальность свои идеи.  Хочу быть полезным для людей и помогать им в осознанном выборе партнёра и-->
<!--выстраивании отношений.</p>-->
<!--<div class="sm">-->
<!--<a href="#"><i class="fab fa-facebook-f"></i></a>-->
<!--<a href="#"><i class="fab fa-twitter"></i></a>-->
<!--<a href="#"><i class="fab fa-youtube"></i></a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->


<!--<div class="card">-->
<!--<div class="front">-->
<!--<img src="assets/images/PosckuraYuriy_small.jpg" alt="PosckuraYuriy"/>-->
<!--</div>-->
<!--<div class="back">-->
<!--<div class="back-content middle">-->
<!--<h2>DarkCode</h2>-->
<!--<span>Youtube Channel</span>-->
<!--<div class="sm">-->
<!--<a href="#"><i class="fab fa-facebook-f"></i></a>-->
<!--<a href="#"><i class="fab fa-twitter"></i></a>-->
<!--<a href="#"><i class="fab fa-youtube"></i></a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="card">-->
<!--<div class="front">-->
<!--<img src="assets/images/PosckuraYuriy_small.jpg" alt="PosckuraYuriy"/>-->
<!--</div>-->
<!--<div class="back">-->
<!--<div class="back-content middle">-->
<!--<h2>DarkCode</h2>-->
<!--<span>Youtube Channel</span>-->
<!--<div class="sm">-->
<!--<a href="#"><i class="fab fa-facebook-f"></i></a>-->
<!--<a href="#"><i class="fab fa-twitter"></i></a>-->
<!--<a href="#"><i class="fab fa-youtube"></i></a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->





























<!--<div class="card-wrapper">-->
<!--<div class="card-box card-flip" [@flip]="flip">-->
<!--<div class="card-box-side front">-->
<!--<button (click)="toggleFlip()">More...</button>-->
<!--<p>Front</p>-->

<!--</div>-->
<!--<div class="card-box-side back">Back-->
<!--<button (click)="toggleFlip()">back...</button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->



<!--<section>-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-sm-6 col-lg-4">-->
<!--&lt;!&ndash; Card Flip &ndash;&gt;-->
<!--<div class="card-flip" [@flip]="flip">-->
<!--<div class="flip">-->
<!--<div class="front">-->
<!--&lt;!&ndash; front content &ndash;&gt;-->
<!--<div class="card">-->
<!--<img class="card-img-top" data-src="holder.js/100px180/" alt="100%x180" style="height: 180px; width: 100%; display: block;" data-holder-rendered="true">-->
<!--<div class="card-block">-->
<!--<h4 class="card-title">Card Flip</h4>-->
<!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--<button  class="" (click)="toggleFlip()">Go somewhere</button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="back">-->
<!--&lt;!&ndash; back content &ndash;&gt;-->
<!--<div class="card">-->
<!--<div class="card-block">-->
<!--<h4 class="card-title">Card Flip</h4>-->
<!--<h6 class="card-subtitle text-muted">Support card subtitle</h6>-->
<!--</div>-->
<!--<img data-src="holder.js/100px180/?text=Image" alt="Image [100%x180]" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">-->
<!--<div class="card-block">-->
<!--<p class="card-text">DFGTGTRHRTHRHHHHHTHard title and make up the bulk of the card's content.</p>-->
<!--<a href="#" class="card-link">Card link</a>-->
<!--<a href="#" class="card-link">Another link</a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; End Card Flip &ndash;&gt;-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</section>-->










<!--&lt;!&ndash;Author cards&ndash;&gt;-->
<!--&lt;!&ndash;<section>&ndash;&gt;-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="card-group">-->
<!--&lt;!&ndash;<div class="col-sm-10 col-sm-offset-1">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="col-md-3 col-sm-6">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="card-container">&ndash;&gt;-->
<!--<div class="card card-flip" [@flip]="flip">-->

<!--<div class="card-front">-->
<!--<div class="test">-->
<!--<img class="card-img" src="http://gramercyrow.com/wp-content/uploads/2018/01/Article-0218-bigstock-couple-hiking-holding-hands-222994444-800x250.jpg" alt="test"/>-->
<!--</div>-->
<!--<div class="card-img-overlay">-->
<!--<div class="card-header">-->
<!--<div class="card-title">Личностная совместимость</div>-->
<!--</div>-->
<!--<div class="card-body">-->
<!--<div class="card-text">rfggfgfgdffdfdbg</div>-->
<!--</div>-->
<!--<div class="card-footer">-->
<!--<button class="link" (click)="toggleFlip()">More...</button>-->
<!--<div class="card-link">-->
<!--<a routerLink="/user-test">Link</a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div> &lt;!&ndash; end front panel &ndash;&gt;-->

<!--<div class="card-back">-->
<!--<div class="test">-->
<!--<img class="card-img" src="assets/images/PosckuraYuriy_small.jpg" alt="PosckuraYuriy"/>-->
<!--</div>-->
<!--<div class="card-img-overlay">-->
<!--<div class="card-header">-->
<!--<div class="card-title">Личностная совместимость</div>-->
<!--</div>-->
<!--<div class="card-body">-->
<!--<div class="card-text">rSDFHHJJUYYUKYUKUYKYJ</div>-->
<!--</div>-->
<!--<div class="card-footer">-->
<!--<div class="card-link">-->
<!--<a routerLink="/user-test">Link</a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div> &lt;!&ndash; end back panel &ndash;&gt;-->

<!--</div> &lt;!&ndash; end card &ndash;&gt;-->
<!--&lt;!&ndash;</div> &lt;!&ndash; end card-container &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;</div> &lt;!&ndash; end col-md-3 &ndash;&gt;&ndash;&gt;-->

<!--</div>-->
<!--</div> &lt;!&ndash; end row &ndash;&gt;-->
<!--<div class="space-200"></div>-->
<!--</div>-->
<!--&lt;!&ndash;</section>&ndash;&gt;-->
