// first card view
.card-deck {
  margin: 2%;
}
.card {
  cursor: pointer; // курсор у вигляді руки з вказывним пальцем
  max-width: 380px;
  min-width: 380px;
  height: 630px;
  //margin: 5% 1%;
  border-radius: 5%;
  display: inline-block;
}
.front, .back {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  overflow: hidden;//не буде показувати те, що виходить за границі div
  position: absolute; // якщо убрати, то обратна сторона (back) буде на іншому місці (знизу)
  backface-visibility: hidden;//якщо не "сховати", то при повороті буде видно "повернуте зображення"
  transition: transform .8s linear;
}
.front img {
  width: 100%;
  height: 100%;
}
.front{
  transform: perspective(600px) rotateY(0deg);
}
.back{
  transform: perspective(600px) rotateY(180deg);// изначально back повернут "спиной" и его "спины" (backface-visibility: hidden;) не видно
}
.back-content {
  margin-top: 15%;
}
.sm a{
  display: inline-flex;
  width: 40px;
  height: 40px;
  justify-content: center;// выравнивание по центру контейнера, когда элемент не использует все пространство по горизонтали
  align-items: center;//выравнивание по вертикали
  color:#2c3e50;
  font-size: 18px;
  transition: 0.4s;
  border-radius: 50%;
}
.sm {
  text-align: center;
  margin: 10% 0 0 0;
}
.sm a:hover {
  background: #2c3e50;
  color: white;
}
.card-footer {
  position: fixed;
  //height: 60px;
  bottom: 0;
  width: 100%;
}
.card:hover > .front{
  transform: perspective(600px) rotateY(-180deg);
}
.card:hover > .back{
  transform: perspective(600px) rotateY(0deg);
}
.img-circle{
  border-radius: 45%;
  display: block;
  overflow: hidden;
  width: 100%;
  margin: 1% 0% 5% 33%;

}
.author-image img{
  background: none repeat scroll 0 0 #FFFFFF;
  border: 4px solid #FFFFFF;
  height: 110px;
  width: 100px;
}
//.middle {
//  position: absolute;
//  top: 50%;
//  left: 50%;
//  transform: translate(-50%, -50%);
//}

.role {
  margin: 0% 0 4% 0;
  font-size: larger;
}
