.card {
  min-width: 240px;
  //max-width: 240px;
  height: 240px;
  //weight: 120px;
  border-radius: 50%;
  background-color: #3f51b5;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.4);
  font-size: xx-large;
  margin: 2%;
  animation: blink 3s ease-in-out infinite;
}
.card:hover {
  width: 260px;
  height: 260px;
  box-shadow: 30px 30px 40px rgba(0, 0, 0, 0.4);
}


@keyframes blink{
  0%{opacity: .0;}
  //50%{opacity: .5;}
  100%{opacity: 1;}

  //10%{opacity: .1;}
  //20%{opacity: .6;}
  //50%{opacity: 1;}
  //70%{opacity: .2;}
}
