@import "../test-button.scss";

// Extra small devices (portrait phones, less than 576px)
.pass-test {
  width: 140px;
  height: 140px;
  font-size: large!important;
  margin: 6% 2% 2% 70%;//button is on the right
  border-radius: 50%;
  background-color: $background-button-color;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.4)!important;
  animation: blink 3s ease-in-out infinite;
  display: none!important; // перезаписываю,так как на html уже указано d-flex
}
.pass-test:hover {
  box-shadow: 30px 30px 40px rgba(0, 0, 0, 0.4)!important;
  color: white!important;
}
@keyframes blink{ // мигание кнопки
  0%{opacity: .5;}
  50%{opacity: 1;}
  100%{opacity: 0.5;}
  //10%{opacity: .1;}
  //20%{opacity: .6;}
  //50%{opacity: 1;}
  //70%{opacity: .2;}
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .pass-test {
    width: 160px;
    height: 160px;
    font-size: x-large!important;
    margin: 6% 2% 2% 73%;
    display: none!important;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .pass-test {
    width: 160px;
    height: 160px;
    margin: 5% 2% 2% 83%;
    display: flex!important;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .pass-test {
    margin: 4% 2% 2% 84%;
    font-size: x-large!important;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .pass-test {
    width: 180px;
    height: 180px;
    font-size: x-large!important;
    margin: 3% 2% 2% 87%;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1500px) {
  .pass-test {
    margin: 4% 2% 2% 89%;
  }
}
