@import "../../auth";
// Extra small devices (portrait phones, less than 576px)
.container-fluid {
  margin-top: 15%;
}
.success{
  text-align: center;
  .title {
    font-size: x-large;
    color: green;
  }
  .links a, .links button {
    display: flex;
    font-size: x-large;
  }
}
.go-back {
  margin-left: 5%;
}

// Small devices (landscape phones, 576px and up)
@media(min-width: 576px) {
  .container-fluid {
    margin-top: 10%;
  }
  .success {
    .title {
      font-size: xx-large;
      text-transform: uppercase;
    }
    .links a, .links button {
      font-size: xx-large;
    }
  }
}

