@import "../test-button.scss";

// Extra small devices (portrait phones, less than 576px)
.test-friend {
  font-size: large!important;
  display: inline-block;
  margin: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 0 40px 40px $background-button-color inset, 0 0 0 0 $background-button-color !important;
}
// Small, medium, large, extra large devices (576px and up)
@media(min-width: 576px)  {
.test-friend {
    padding: 15px 15px;
  }
}
