@import "../test-button.scss";

// Extra small devices (portrait phones, less than 576px)
button.return-to-friend-account {
  display: inline-block;
  width: 280px;
  height: 150px;
  padding: 5px 10px;
  margin: 0;
  border-radius: 10px;
  border-color: $background-button-color;
}

// Small, medium, large, extra large devices (landscape phones, tablets, desktops, large desktops 576px and up)
@media (min-width: 576px) {
  button.return-to-friend-account {
    width: 400px;
    margin: 0px 20px 30px 20px;
  }
}
