<div *ngIf="ifUserForMatchingToken" class="d-flex justify-content-end">
  <button *ngIf="isRegistered; else register" class="btn btn-link return-to-friend-account"
          (click)="returnToFriendAccount()">Вернуться к профилю друга </button>
  <ng-template #register>
    <button type="button" class="btn btn-link return-to-friend-account"
            data-toggle="modal"
            data-target="#confirmModal">
      Зарегестрироваться и вернуться к профилю друга
    </button>
  </ng-template>
</div>

<!-- Confirm Modal -->
<div class="modal fade" id="confirmModal" role="dialog" aria-labelledby="confirmModalLabel">
  <div class="modal-dialog confirm modal-dialog-centered d-flex justify-content-center">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="confirmModalLabel">{{APP_NAME}}</h3>
      </div>
      <div class="modal-body">
        <div class="message text-justify">
          Перед возвращением на аккаунт друга, вам лучше зарегистрироваться. В этом случае вы будете иметь возможность доступа к своим данным с любого устройства.
        </div>
        <a><i class="fa fa-close" data-dismiss="modal" hidden="hidden" #closeBtn></i></a>
        <p class="text-center">
          <!--<a class="register" routerLink="/register">ЗАРЕГИСТРИРОВАТЬСЯ</a>-->
          <button (click)="register()" type="button" class="btn btn-link register">ЗАРЕГИСТРИРОВАТЬСЯ</button>
          <button (click)="returnToFriendAccount()" type="button" class="btn btn-link">Потерять данные и вернуться к профилю друга</button>
        </p>
      </div>
    </div>
  </div>
</div>
