// Extra small and small devices (portrait, landscape phones, less than 768px)
.tests-list{
   // 100vh - полная (100%) высота экрана
  height: 180%;
  //background-repeat: repeat-y;
  background-image: url("../../../assets/images/tests_list_background_image.jpg");
  background-size: cover;
}

// Medium, large, extra large devices (tablets, desktops, large desktops, 768px and up)
@media (min-width: 768px) {
  .tests-list{
    height: 94vh;
    background-repeat: no-repeat;
  }
}

