.tests-list{
  //width: 100vw;
  height: 100vh; // 100vh - полная (100%) высота экрана
  margin-top: 2%;
  background-image: url("../../../assets/images/tests_list_background_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media(max-width:1199.98px) {
  .tests-list {
    margin-top: 3%;
  }
}
@media(max-width:991.98px) {
  .tests-list {
    margin-top: 2%;
  }
}

