@import "../../../assets/color.scss";

// Extra small devices (portrait phones, less than 576px)
.value-profile {
  margin: 2% 1%;
}
.online-advertising {
  margin: 2% 0%;
}
.content, .test-not-passed {
  margin: 2% 2%;
}
.chart-bar {
  margin: 1% 1% 1% 1%;
  min-width: 650px;
  min-height: 300px;
}
.header, .head {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.head {
  margin: 6% 0% 4% 0%;
  font-size: medium;
}
.header {
  font-size: x-large;
  margin: 6% 0% 2% 0%;
}
.comment {
  padding: 0%;
  margin: 0%;
  text-align: justify;
  font-size: medium;
}
li {
  list-style-type: none; /* Прячем исходные маркеры */
}
li:before {
  content: "• "; /* Сам маркер */
  font-size: 30px;
  line-height: 12px;
  padding-right: 5px; /* Расстояние от маркера до текста */
  color: rgba(0, 0, 10, 1);
}
//Colors from color[] in ValueCompatibilityProfileComponent
li.li.commentOne:before {
  color: $security-color;
}
li.li.commentTwo:before {
  color: $comfort-color;
}
li.li.commentThree:before {
  color: $achievements-color;
}
li.li.commentFour:before {
  color: $harmonious-relationship-color;
}
li.li.commentFive:before {
  color: $creativity-color;
}
li.li.commentSix:before {
  color: $development-color;
}

// Chart-bar doesn't fit on screens less than 578 px.
// Therefore, we offer to turn the screen in overlay class.
@media (orientation: portrait) {
  .chart-bar { display: none; }
  .overlay {
    display: flex;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    align-items: center;
    height: 150px;
    background-image: url("../../../assets/images/chart_bar.png");
    background-size: cover;
  }
}
@media (orientation: landscape) {
  .chart-bar { display: block; }
  .overlay { display: none; }
}

// Small devices (landscape phones, 576px and up)
@media(min-width: 576px){
  .chart-bar {
    display: block;
  }
  .overlay {
    display: none;
  }
  .comment {
    font-size: large;
  }
  li:before {
    padding-right: 10px;
  }
}

// Medium devices (tablets, 768px and up)
@media(min-width: 768px){
  .value-profile {
    margin: 2% 0 2% 0;
  }
}

// Large devices (desktops, 992px and up)
@media(min-width: 992px) {
  .value-profile,
  .online-advertising {
    margin: 1% 0 3% 0;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media(min-width: 1200px) {
  .value-profile,
  .online-advertising {
    margin: 1% 0 2% 0;
  }
  .header {
    margin: 2% 0% 1% 0%;
  }
}
