.container-fluid.value.profile {
  padding: 1% 0%;
  margin: 2% 0.5%;
}

.container-fluid.online-advertising {
  margin: 2% 0.5%;
}

@media(max-width:1199.98px) {
  .container-fluid.value.profile,
  .container-fluid.online-advertising {
    margin: 5% 0 5% 0;
  }
}
@media(max-width:991.98px) {
  .container-fluid.value.profile,
  .container-fluid.online-advertising {
    margin: 5% 0 5% 0;
  }
}
@media(max-width:767.98px){
  .container-fluid.online-advertising {
    margin: 3% 0 5% 0;
  }
}

.container-fluid.chart.bar {
  //padding: 0% 5% 3% 5%;
  //margin: 5% 5% 1% 5%;
  //position: relative;

  //width: 90%;
  //height: auto;
  //height: 100%;
  //min-width: 600px;
  //min-height: 300px;
}

.container.chart {
  margin: 0%;
  padding: 0% 0%;
  position: relative;
}
.head {
  font-weight: bold;
  text-align: center;
  margin: 3% 0% 0% 0%;
  text-transform: uppercase;
  font-size: medium;
}

.container.comment {
  //padding: 10% 10% 10% 10%;
  padding: 0% 1%;
  margin: 1%;
  //margin-bottom: 40%;
  //position: relative;
  position: center;
  //font-size: 16px;
  text-align: justify;
}




li {
  list-style-type: none; /* Прячем исходные маркеры */
}

li:before {
  content: "• "; /* Сам маркер */
  //font-weight: 400;
  //width: 200px;
  //height: 200px;
  //border-color: black;
  font-size: 30px;
  line-height: 12px;
  padding-right: 10px; /* Расстояние от маркера до текста */
}

//Colors from color[] in ValueCompatibilityProfileComponent
li.li.commentOne:before {
  color: rgba(255, 179, 186, 1);
}
li.li.commentTwo:before {
  color: rgba(255,223,186, 1);
}
li.li.commentThree:before {
  color: rgba(255,255,186, 1);
}
li.li.commentFour:before {
  color: rgba(186,255,201, 1);
}
li.li.commentFive:before {
  color: rgba(186,225,255, 1);
}
li.li.commentSix:before {
  color: rgba(201, 166, 220, 1);
}


