<!--<button class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Logout</button>-->

<div class="modal" id="modalLogout" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header"><h4>Logout <i class="fa fa-lock"></i></h4></div>
      <div class="modal-body"><i class="fa fa-question-circle"></i> Вы уверены, что хотите выйти?</div>
      <div class="modal-footer"><button (click)="logout()" class="btn btn-primary btn-block">Выйти</button></div>
    </div>
  </div>
</div>
