@import "../../auth";
// Extra small devices (portrait phones, less than 576px)
.modal-dialog, .modal-content {
  margin-left: auto;
  margin-right: auto;
  width: 310px;
  min-width: 310px;
  max-width: 400px;
}

// ======= RESPONSIVE ========
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .modal-dialog, .modal-content {
    width: 400px;
    min-width: 400px;
    max-width: 400px;
  }
}
