<div class="container-fluid">
  <div class="pass-test text-right">
    <a routerLink="/value-compatibility-test" routerLinkActive="active">ПРОЙТИ ТЕСТ</a>
  </div>

  <div class="title">ИНСТРУКЦИЯ</div>
  <div class="title">{{vc_instruction_title}}</div>
  <div class="items">
    <div class="item">{{vc_instruction_item_1_1}}
      <span class="bold">{{vc_instruction_item_1_2}}</span>
      <span>{{vc_instruction_item_1_3}}</span></div>
    <div class="d-flex align-items-center justify-content-center">
      <img class="d-none d-md-block img" src="assets/images/vc_test_view.png" alt="Test view"/>
    </div>
    <div class="d-flex align-items-center justify-content-center">
      <img class="d-block d-md-none img" src="assets/images/vc_test_view_small.png" alt="Test view"/>
    </div>
    <div class="item">{{vc_instruction_item_2_1}}<span class="bold italic">{{vc_instruction_item_2_2}}</span></div>
    <div class="item">{{vc_instruction_item_3}}</div>
    <div class="item-title bold italic">{{vc_instruction_item_4_title}}</div>
    <ul>
      <li><span class="bold">{{vc_instruction_item_4_1_1}}</span><span>{{vc_instruction_item_4_1_2}}</span></li>
      <li><span class="bold">{{vc_instruction_item_4_2_1}}</span><span>{{vc_instruction_item_4_2_2}}</span></li>
      <li><span class="bold">{{vc_instruction_item_4_3_1}}</span><span>{{vc_instruction_item_4_3_2}}</span></li>
      <li><span class="bold">{{vc_instruction_item_4_4_1}}</span>
           <span>{{vc_instruction_item_4_4_2}}</span>
           <span class="bold">{{vc_instruction_item_4_4_3}}</span>
           <span>{{vc_instruction_item_4_4_4}}</span>
      </li>
    </ul>
  </div>

  <div class="pass-test text-center">
    <a routerLink="/value-compatibility-test" routerLinkActive="active">ПРОЙТИ ТЕСТ</a>
  </div>
</div>
