// Extra small, small devices (portrait phones, landscape phones, less than 768px)
.match {
  margin: 2% 1%;
}
.online-advertising {
  margin: 2% 0;
}
.card {
  width: 280px;
  min-height: 150px;
  border: none;
  border-radius: 1.5rem;
  transition: all 0.2s;
  box-shadow: 30px 30px 40px rgba(0, 0, 0, 0.3);
  margin: 8% 2%;
}
.avatar {
  width: 20%;
  height: 20%;
}
.card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: .1rem;
  font-weight: bold;
}
.card-description {
  transition: .5s ease;
  display: none;
  padding-bottom: 2%;
}
.card:hover {
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  margin: 15% 2%;
  .gender-icon {
    justify-content: center!important;
  }
  .avatar {
    width: 50%;
    height: 50%;
  }
  .card-description {
    opacity: 0.5;
    display: block;
  }
  .card-footer {
    border-top: none;
    background-color: inherit; // color like in card
    overflow: hidden;
    transform: translate(0, -30px);
  }
}

//PAGINATION
ul {
  text-align: center;
  margin: 4% 1%;
}
li {
  padding: .1% .1%;
  margin: 1% 1%;
  border-radius: 10%;
}
.active {
  background-color: #666;
  color: white;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .card {
    margin: 4% 2%;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .match {
    margin: 2% 0 2% 0;
  }
}

// Large, extra large  devices (desktops, large desktops, 992px and up)
@media (min-width: 992px) {
  .match,
  .online-advertising {
    margin: 1% 0 3% 0;
  }
  .card {
    margin: 6% 2%;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media(min-width: 1200px) {
  .match,
  .online-advertising {
    margin: 3% 0 2% 0;
  }
  .card {
    margin: 4% 2%;
  }
}



//// Large devices (desktops, 992px and up)
//@media(min-width: 992px) {
//  .container-fluid.value-profile,
//  .container-fluid.online-advertising {
//    margin: 1% 0 3% 0;
//  }
//}
//
//// Extra large devices (large desktops, 1200px and up)
//@media(min-width: 1200px) {
//  .container-fluid.value-profile,
//  .container-fluid.online-advertising {
//    margin: 1% 0 2% 0;
//  }
//  .header {
//    margin: 2% 0% 1% 0%;
//  }
//}
