<div class="container-fluid match">

  <div class="row">
    <!--<div class="col-sm-12 col-lg-10">-->
      <!--<app-test-not-passed></app-test-not-passed>-->
    <!--</div>-->
    <div class="col-sm-12 col-lg-10">

    <app-return-to-friend-account></app-return-to-friend-account>


      <div  *ngFor="let account of pageUserAccount.content; let i = index">
        <!--<div class="col-lg-3"></div>-->
        <div class="col-lg-4 offset-lg-4 d-flex justify-content-center">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-muted text-uppercase text-center">{{account.user.name}}</h5>
              <h6 *ngIf="account.user.age != null" class="card-description text-center">{{account.user.age}} лет</h6>
              <h6 class="card-description text-center">{{account.user.gender}}</h6>
              <!--<hr>-->
            </div>
            <div class="card-footer">
              <button (click)="match(account.user)" class="btn btn-block btn-info text-uppercase">Сравнить профили</button>
              <!--<button (click)="invite(account.user.id)" class="btn btn-block btn-primary text-uppercase">Пригласить к сравнению</button>-->
            </div>
          </div>
        </div>
        <!--<div class="col-lg-3"></div>-->
      </div>
      <!--<nav aria-label="..." class="d-flex justify-content-center">-->
        <!--<ul class="pagination"  *ngIf="pageUserAccount?.content" >-->
          <!--<li *ngFor="let page of ' '.repeat(pageUserAccount.totalPages).split(''), let i = index "-->
              <!--[class.active]="i === selectedPage" class="page-item">-->
            <!--<a class="page-link" (click)="onSelect(i)" >{{i}}</a>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</nav>-->
      <!-- pagination -->
      <ul *ngIf="pagination.pages && pagination.pages.length" class="pagination d-flex justify-content-center">
        <li>
          <button class="btn btn-link"(click)="setPage(1)" [class.disabled]="pagination.currentPage === 1">First</button>
        </li>
        <li>
          <button class="btn btn-link" (click)="setPage(pagination.currentPage - 1)" [class.disabled]="pagination.currentPage === 1">Previous</button>
        </li>
        <li *ngFor="let page of pagination.pages; let i= index" [class.active]="page === pagination.currentPage">
          <button class="btn btn-link" (click)="setPage(page)">{{page}}</button>
        </li>
        <li>
          <button class="btn btn-link" (click)="setPage(pagination.currentPage + 1)" [class.disabled]="pagination.currentPage === pagination.totalPages">Next</button>
        </li>
        <li>
          <button class="btn btn-link" (click)="setPage(pagination.totalPages)" [class.disabled]="pagination.currentPage === pagination.totalPages">Last</button>
        </li>
      </ul>
    </div><!-- End col-10 -->

    <div class="col-lg-2">
      <div class="container-fluid online-advertising">
        <app-online-advertising></app-online-advertising>
      </div>
    </div>

  </div><!-- End row -->
</div><!-- End container-fluid match -->
