.modal-content {
  border-radius: 5%!important;
  overflow: hidden;
}
.modal-header {
  background-color: #0275d8;
  color: #FFFFFF;
}
button {
  margin: 2% 0%;
  min-width: 150px;
  font-size: large;
}
.form-check-inline {
  margin-left: 5%;
}
