<!--<div class="container-fluid online-advertising">-->

  РЕКЛАМА
  <br>
  <br>
  <p>
    <img src="https://picsum.photos/200/300?image=1080">
  </p>
  <p>
    <img src="https://picsum.photos/200/300?image=1083">
  </p>
  <p>
    <img src="https://picsum.photos/200/300?image=1080">
  </p>
  <p>
    <img src="https://picsum.photos/200/300?image=1083">
  </p>
  <p>
    <img src="https://picsum.photos/200/300?image=1080">
  </p>
  <p>
    <img src="https://picsum.photos/200/300?image=1083">
  </p>
<!--</div>-->
