.container-fluid.match, .container-fluid.online-advertising {
  margin: 4% 1% 5% 1%;
}

.container.match.content {
  margin: 0%;
}
@media(max-width:992px) {
  .container-fluid.online-advertising {
    margin: 1% 0 5% 0;
  }
  .container-fluid.test-not-passed {
    margin: 3% 0 0 0;
  }
}
@media(max-width:768px){
  .container-fluid.match {
    margin: 3% 0 1% 0;
  }
  .container-fluid.online-advertising {
    margin: 1% 0 5% 0;
  }
  .container.match.content {
    margin: 5% 0 0 0;
  }
}
.container {
  max-width: 1500px;
}

.nav {
  margin: 2% 0;
  background-color: rgba(123, 124, 145, .5);
}
a.nav-link {
  font-size: x-large;
  font-weight: bold;
  color: white;
}
a.nav-link.active {
  background-color: rgba(123, 124, 145, .5);
}

.match.head, .row.head, .row.header{
  font-weight: bold;
  text-align: center;
  font-size: larger;
  margin: 2% 0%;
}
.match.head.main {
  font-size: xx-large;
}
@media(max-width:768px){
  .match.head.main {
    font-size: x-large;
  }
}

.row.head {
  font-size: large;
}
.row.header {
  font-size: medium;
  color: #3f51b5;
}
.row.aspect {
  text-align: center;
  //margin: 3% 0%;
}
.aspect.label, .scale.label {
  font-weight: bold;
  font-size: x-large;
  text-transform: uppercase;
}
//.scale.label {
  //font-size: larger;
  //text-align: center;
//}
//@media(max-width:768px){
//  .scale.label {
//    font-size: x-large;
//  }
//}

.container-fluid.chart {
  padding: 0;
  min-width: 800px;
}
.interpretation.text {
  text-align: justify;
  //margin: 1% 5% 0% 5%;
}
.container-fluid.value.profile {
  margin: 3% 0;
}

.accent, .comment.header {
  font-weight: bold;
}

.btn {
  margin: 1% 1% 5% 1%;
}

.container.rectangle {
  border-radius: 20px;
  text-align: center;
  margin: 3% 0% 5% 0%;  //on bottom margin is larger because of shadow
  width: 80%;
  padding: 5% 0;
  //box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
  .level {
    font-size: large;
    text-transform: uppercase;
    font-weight: bold;
  }
  .head {
    font-size: small;
  }
}
.container.rectangle.area {
  color: rgba(248,242,236,1);
  .value {
    font-size: xx-large;
    font-weight: bold;
  }
  //background: linear-gradient(rgba(155,187,89, 1), rgba(247,150,70, 1));
}
.container.rectangle.scale {
  border: solid rgba(75,172,198, 1);
  background-color: rgba(248,242,236,0.1);
  .icon {
    font-size: 40px;
    font-weight: bold;
  }
  //background-color: linearGradient;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
}

hr {
  background-color: rgba(0, 0, 0, 0.1);
}

@media(max-width:585px){
  .container-fluid.match{
    font-size: 95%;
  }
}

.scroll {
  position: relative;
  overflow-y: scroll;
  height: 200vh;
}
