<!--Navigation-->
<nav *ngIf="isValueCompatibilityTestPassed && isLogin" class="navbar justify-content-center align-items-center fixed-bottom pt-2 pb-4" id="valueCompatibilityReportTab">
  <a class="nav-link nondecorated" href="match#valueCompatibilityMatches">Отчёт по ценностной совместимости</a>
  <a class="nav-link nondecorated" href="match#valueProfilesForMatching">Интерпретация различий в ценностях</a>
  <a class="nav-link nondecorated" href="match#valueProfilesForMatchingDifferences">Отчёт по различиям в ценностях</a>
</nav>
<!--End Navigation-->



<div class="container-fluid match">
  <div class="row justify-content-center">
    <div class="col-lg-10 justify-content-center">
      <ng-template #testNotPassed>
        <div class="col-sm-12 col-lg-10 test-not-passed">
          <app-test-not-passed></app-test-not-passed>
        </div>
      </ng-template>
      <app-return-to-friend-account *ngIf="ifUserForMatchingToken"></app-return-to-friend-account>
      <div class="scroll-spy content" *ngIf="isValueCompatibilityTestPassed && isLogin; else testNotPassed" data-spy="scroll" data-target="#valueCompatibilityReportTab" data-offset="200">
        <!--<div class="content"  *ngIf="isValueCompatibilityTestPassed && isLogin; else testNotPassed">-->
          <div class="row align-items-center justify-content-end">
            <div class="col align-self-center justify-content-center">
              <div class="head main">ОТЧЁТ ПО СОВМЕСТИМОСТИ</div>

                <!--Value compatibility report-->
                  <!--Value Compatibility Matches-->
                  <div  class="container value-compatibility-matches" *ngIf="matches" id="valueCompatibilityMatches">
                    <div class="row head">
                      <div class="col-12 col-xl-12">
                        Ценностная совместимость.
                        Оцениваемый партнёр: <span style="color: black" >{{userForMatching.name}}</span>
                      </div>
                    </div>
                    <div class="row header align-items-center"> <!--align-items-center   vertical align -->
                      <div class="col-md-6 col-xl-3 d-none d-md-block"> <!--d-none d-md-block - visible only on screens bigger than middle  -->
                        Аспекты совместимости
                      </div>
                      <div class="col-md-6 col-xl-4 d-none d-md-block">
                        Уровень совместимости
                      </div>
                      <div class="col-md-0 col-xl-5 d-none d-xl-block">
                        Комментарий
                      </div>
                    </div>
                    <hr>

                    <div *ngFor="let match of aspectMatches; let i = index">
                      <div class="row aspect align-items-center">
                        <div class="col-md-6 col-xl-3">
                          <div class="aspect label">
                            {{aspectComments[i].aspect}}
                          </div>
                          <div class="aspect description">
                            {{aspectComments[i].aspectDescription}}
                          </div>
                        </div>
                        <div class="col-md-6 col-xl-4 ">
                          <div class="container rectangle area mx-auto" [style.background]="linearGradient[i]" [style.box-shadow]="boxShadow[i]">
                              <div class="head">Уровень совместимости</div>
                              <div class="value">{{ match }}%</div>
                              <div class="level">{{aspectComments[i].levelName }}</div>
                          </div>
                        </div>
                        <div class="col-md-12 col-xl-5">
                          <div class="interpretation-text">
                            <span class="comment header">{{ aspectComments[i].header }}</span>
                            {{aspectComments[i].foreword}}
                            <span class="accent">{{aspectComments[i].accent}}</span>
                            {{aspectComments[i].mainText}}
                          </div>
                        </div>
                      </div>
                      <hr *ngIf='i + 1'>
                    </div>
                  </div>
                  <!--End Value Compatibility Matches-->

                  <!--Value Profiles For Matching d-none d-sm-block-->
                  <div class="container-fluid value-profile" *ngIf="valueProfilesForMatching" id="valueProfilesForMatching">
                    <!--For figures we need chart.js library (npm install chart.js and see current-weather.component.ts)-->
                    <div class="head">Интерпретация различий в ценностях</div>
                    <div class="container-fluid chart-bar" *ngIf="chartBar">
                      <canvas id="canvasBar">{{ chartBar }}</canvas>
                    </div>
                    <div class="overlay">Переверните экран, чтобы увидеть график</div>
                  </div>
                  <!--End Value Profiles For Matching-->

                  <!--Value Profiles For Matching Differences-->
                  <div class="container values-differences-report" *ngIf="valueProfilesForMatching" id="valueProfilesForMatchingDifferences" >
                    <div class="row head">
                      <div class="col-12 col-xl-12">
                        Отчёт по различиям в ценностях.
                        <!--Оцениваемый партнёр: <span style="color: black" >{{userForMatching.name}}</span>-->
                      </div>
                    </div>
                    <div class="row header align-items-center mx-auto">
                      <div class="col-md-6 col-xl-3 d-none d-md-block"> <!--d-none d-md-block - visible only on screens bigger than middle  -->
                        Аспекты совместимости
                      </div>
                      <div class="col-md-6 col-xl-4 d-none d-md-block">
                        Различие в ценности
                      </div>
                      <div class="col-md-0 col-xl-5 d-none d-xl-block">
                        Комментарий
                      </div>
                    </div>
                    <hr>

                    <div *ngFor="let scalesComment of scalesComments; let i = index;">
                      <div class="row aspect development align-items-center mx-auto">
                        <div class="col-md-6 col-xl-3">
                          <div class="scale label">
                            {{ scaleLabels[i] }}
                          </div>
                        </div>
                        <div class="col-md-6 col-xl-4">
                          <div class="container rectangle scale mx-auto"> <!--[style.border-color]='scaleColor[i]'-->
                            <div class="head">Различия в ценности</div>
                            <div [style.color]='scaleLevelColor[i]' class="icon">{{ icon[i] }}</div>
                            <div class="level">{{scalesComment.levelName }}</div>
                          </div>
                        </div>
                        <div class="col-md-12 col-xl-5">
                          <div class="interpretation-text">
                            {{ scalesComments[0].text[0] }}
                             <span class="accent">{{ scalesComment.text[1] }}</span>
                            {{ scalesComment.text[2] }}
                            {{ scalesComment.scale }} {{ scalesComment.text[3] }}
                          </div>
                        </div>
                      </div>
                      <hr *ngIf='i + 1'>
                    </div>
                  </div>
                  <!--End Value Profiles For Matching Differences-->
                <!--End Value compatibility report-->
            </div><!-- End col-12 -->
          </div><!-- End row -->
        <!--</div>&lt;!&ndash; End container match content &ndash;&gt;-->
      </div><!-- End scroll-spy -->
    </div><!-- End col-10 -->

    <!--ONLINE-ADVERTISING-->
    <div class="col-lg-2 ">
      <div class="container-fluid online-advertising d-flex justify-content-center">
        <app-online-advertising></app-online-advertising>
      </div>
    </div>

  </div><!-- End row -->
</div><!-- End container-fluid match -->
