<div class="container-fluid">
  <div class="row d-flex">
    <ng-template #noTokens>
      <div class="col-12 col-lg-10">
        <div class="error" *ngIf="tokens==null">
          {{ error }}
        </div>
      </div>
    </ng-template>
    <div *ngIf="tokens!=null; else noTokens" class="col-12 col-lg-10">
      <div class="row d-flex justify-content-center">
        <div class="col-12 col-xl-8 col-lg-9 col-md-10">
          <div class="links header">{{ tokensHeader }}</div>
        </div>
      </div>
      <div class="row textarea d-flex justify-content-center" *ngFor="let link of links; let i = index">
        <div class="col-12 col-xl-7 col-lg-7 col-md-7 d-flex justify-content-center align-items-center">
          <textarea [id]="link" class="tooltip-test" [title]="tooltip">{{ tokensInvite }} {{link}}</textarea>
        </div>
        <div class="col-12 col-xl-1 col-lg-2 col-md-3 d-flex justify-content-center align-items-center">
          <button (click)="copyElementText(link)" [title]="tooltip_copy"><i class="fa fa-copy"></i></button>
        </div>
      </div><!-- end row -->
    </div>

    <div class="col-12 col-lg-2">
      <div class="container-fluid online-advertising d-flex justify-content-center">
        <app-online-advertising></app-online-advertising>
      </div>
    </div>
  </div><!-- end row -->
</div><!-- end container-fluid -->
