@import "../../../assets/color.scss";

// Extra small devices (portrait phones, less than 576px
.container-fluid {
  margin-bottom: 10%;
}
textarea{
  padding: 2%;
  min-width: 300px;
  font-size: medium;
  border-radius: 10px;
  border: 2px $copy-invite-friend-button-color;
  min-height: 360px;
  //width: fit-content;
  //height: fit-content;
  text-align: justify;
}
.links.header{
  font-size: large;
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
  font-weight: bold;
  color: #444444;
}
.row.textarea {
  margin-bottom: 8%;
}
button {
  margin: 10%;
  width: 80px;
  height: 80px;
  border-radius: 25%;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  background-color: $copy-invite-friend-button-color;
}
.container-fluid.online-advertising {
  margin: 2% 0.5%;
}
.error {
  font-size: x-large;
  text-align: center;
}

// Extra Small devices (portrait phones, 400px and up)
@media (min-width: 400px) {
  textarea{
    min-width: 380px;
    font-size: large;
  }
  .links.header {
    font-size: x-large;
  }
  .row.textarea {
    margin-bottom: 5%;
  }
  button {
    margin: 6%;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  textarea {
    padding: 4%;
    min-width: 470px;
    min-height: 360px;
    font-size: larger;
  }
  .links.header {
    font-size: xx-large;
  }
}

// Medium, large, devices (tablets, desktops, 768px and up)
@media (min-width: 768px) {
  textarea {
    min-width: 530px;
    min-height: 300px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  textarea {
    min-height: 350px;
  }
}
