textarea{
  padding: 4%;
  border-color: cadetblue;
  border-radius: 10px;
  border-width: 2px;
  min-width: 400px;
  min-height: 350px;
  //width: fit-content;
  //height: content-box;
  font-size: larger;
  text-align: justify;
}
@media (max-width: 575.98px) {
  textarea{
    min-width: 320px;
    font-size: large;
  }
  .modal-content, .modal-dialog {
    min-width: 400px;
  }
  .modal-body, .links {
    padding-right: 1%;
    padding-left: 1%;
  }
  .links.header {
    font-size: medium;
  }
}
@media (max-width: 399.98px) {
  textarea{
    padding: 2%;
    min-width: 230px;
    font-size: medium;
  }
  .modal-content, .modal-dialog {
    min-width: 300px;
  }
}
.links.header{
  font-size: x-large;
  margin: 2%;
  text-align: center;
  font-weight: bold;
  color: #444444;
}
.row {
  margin-top: 4%;
}
button {
  margin: 2%;
  min-width: 30px;
  min-height: 30px;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
}
button.close {
  box-shadow: none;
}


