@import "../test-button.scss";

// Extra small devices (portrait phones, less than 320px)
.container-fluid.online-advertising {
  margin: 2% 0.5%;
}
.container-fluid.test-friend {
  height: 60vh;
  margin: 5% 0.5%;
}

button.test-friend {
  display: inline-block;
  width: 250px;
  min-height: 200px;
  margin: 10px 20px;
  border-radius: 10px;
  font-size: larger!important;
}
button.test-friend:hover {
  box-shadow: 0 0 10px 0 $background-button-color inset, 0 0 10px 4px $background-button-color;
  color: $background-button-color;
  background-color: #FFFFFF;
}

// Extra small devices (portrait phones, 320px and up)
@media (min-width: 320px) {
  button.test-friend {
    padding: 15px 15px;
    width: 300px;
  }
}

// Small, medium, large  devices (landscape phones, tablets, desktops 576px and up)
@media (min-width: 576px) {
  button.test-friend {
    font-size: x-large!important;
  }
}

//// Medium devices (tablets, 768px and up)
//@media (min-width: 768px) { ... }
//
//// Large devices (desktops, 992px and up)
//@media (min-width: 992px) { ... }
//
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  button.test-friend {
    width: 500px;
    font-size: xx-large!important;
  }
}
