<div class="container-fluid">
  <div class="row ng-scope text-center">
    <div class="col-lg-6 col-xl-5 d-flex justify-content-center">
      <div class="card">
        <div class="card-body">
          <img class="center-block img-responsive img-circle img-thumbnail thumb96"
               src="assets/images/{{userAvatarLink}}" alt="Contact">
          <h3 class="text-bold">{{userAccount.user.name}}</h3>
          <!--Test's navbar-->
          <div><a class="btn btn-success text-white" routerLink="/value-profile">Ценностный профиль</a></div>
          <div><a class="btn btn-info text-white" routerLink="/error">Ролевой профиль</a></div>
          <div><a class="btn background-yellow text-white" routerLink="/error">Любовный профиль</a></div>
          <div><a class="btn btn-danger text-white" routerLink="/error">Сексуальный профиль</a></div>
          <!--Test's navbar-->
          <app-test-friend-button class="testFriend"></app-test-friend-button>
          <!--<div class="testFriend"><a routerLink="/test-friend">Протестировать друга</a></div>-->
        </div>
      </div>
    </div><!-- end col-md-6 -->

    <ng-template #registrationForm>
      <div class="col-lg-6 col-xl-5 d-flex justify-content-center">
        <app-registration></app-registration>
      </div>
    </ng-template>
    <div class="col-lg-6 col-xl-5 d-flex justify-content-center" *ngIf="isRegistered; else registrationForm">
      <div class="card">
        <!--UPDATE USER DATA MENU-->
        <h3 class="card-header">Контактная информация</h3>
        <div class="card-body">
          <!--https://angular.io/guide/form-validation#adding-to-template-driven-forms-->
          <form class="form" #registrationForm="ngForm">

            <!--NAME-->
            <div class="form-group">
              <!--<label for="name">Name</label>-->
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                </div>
                <input [(ngModel)]="userAccount.user.name" id="name" name="name" type="text"
                       class="form-control rounded-0" required autofocus placeholder="имя" #name="ngModel">
              </div>
            </div>

            <!--EMAIL-->
            <div class="form-group">
              <!--<label for="email">Email</label>-->
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                </div>
                <input [(ngModel)]="userAccount.user.email" id="email" name="email" type="email"
                       class="form-control rounded-0" required placeholder="email" #email="ngModel"
                       pattern="[a-zA-Z_0-9.]+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}" />
              </div>
              <div *ngIf="email.invalid && (email.touched)"
                   class="alert alert-danger">
                <div *ngIf="email.errors.required">
                  Необходимо ввести email.
                </div>
                <div *ngIf="email.errors.pattern">
                  Неверный формат email. Возможно вы забыли @.
                </div>
              </div>
            </div>

            <!--AGE-->
            <div class="form-group">
              <!--<label for="age">Возраст</label>-->
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fa fa-age">age</i> </span>
                </div>
                <input [(ngModel)]="userAccount.user.age" name="age" id="age" type="number"
                       class="form-control" #age="ngModel" required placeholder="возраст">
              </div>
            </div>

            <!--GENDER-->
            <div class="form-group">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-venus-mars"></i> </span>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" [(ngModel)]="userAccount.user.gender" required
                           #gender="ngModel" name="gender" id="male" value="MALE" checked="checked">
                    <label class="form-check-label" for="male">
                      Мужской
                    </label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" [(ngModel)]="userAccount.user.gender" required
                           name="gender" id="female" value="FEMALE">
                    <label class="form-check-label" for="female">
                      Женский
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <!--NAME OR EMAIL ALREADY EXISTS-->
            <h5 [hidden]="!isUpdateError" class="alert alert-danger">Такие имя или email уже существуют</h5>

            <!--BUTTON REGISTER-->
            <button (click)="update()" type="submit"
                    [disabled]="name.invalid || email.invalid  || age.invalid || gender.invalid"
                    class="btn btn-primary btn-block float-right register">Изменить</button>
          </form>
        </div> <!-- end card-body -->
        <!--UPDATE USER DATA MENU-->

        <!-- CHANGE PASSWORD MENU-->
        <h3 class="card-header">Изменить пароль</h3>
        <div class="card-body">
          <form class="form">
            <!-- OLD PASSWORD -->
            <div class="form-group">
              <!--<label for="password">Password</label>-->
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                <input [(ngModel)]="userAccount.user.password" id="password" name="password" type="password"
                       class="form-control rounded-0"  [minlength]="minPasswordLength"
                       required placeholder="старый пароль" #password="ngModel">
              </div>
              <div *ngIf="password.invalid && (password.dirty || password.touched)"
                   class="alert alert-danger">
                Пароль должен быть не менее {{ minPasswordLength }} символов.
              </div>
            </div>

            <!--NEW PASSWORD-->
            <div class="form-group">
              <!--<label for="confirm-password">Confirm password</label>-->
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                <input (ngModel)="newPassword" id="new-password" name="newPassword" type="password"
                       class="form-control rounded-0"  [minlength]="minPasswordLength"
                       required placeholder="новый пароль" #newPassword="ngModel">
              </div>
              <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)"
                   class="alert alert-danger">
                Пароль должен быть не менее {{ minPasswordLength }} символов.
              </div>
            </div>

            <!--PASSWORD IS WRONG-->
            <h5 *ngIf="isChangePasswordError" class="alert alert-danger">Ваш пароль не верный.</h5>

            <!--BUTTON REGISTER-->
            <button (click)="changePassword(password, newPassword)" type="submit"
                    [disabled]="password.invalid || newPassword.invalid"
                    class="btn btn-primary btn-block float-right register">Изменить</button>
          </form>
        </div> <!--end card-body -->
        <!--CHANGE PASSWORD MENU-->

      </div> <!--end card -->
    </div><!-- end col-md-6 -->
  </div><!-- end row -->
</div><!-- end container-fluid -->



<!--CONFIRM CHANGES-->
<button type="button" class="btn btn-info btn-lg" id="confirmChanges" #confirmChanges
        data-toggle="modal" data-target="#confirmChangesModal" [hidden]="true">Confirm changes</button>
<!-- Modal -->
<div class="modal fade" id="confirmChangesModal" role="dialog" aria-labelledby="confirmChangesModalLabel">
  <div class="modal-dialog modal-dialog-centered d-flex justify-content-center">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="confirmChangesModalLabel">{{APP_NAME}}</h3>
      </div>
      <div class="modal-body">
        <h3>{{ confirmMessage }}</h3>
      </div>
    </div>
  </div>
</div>
