@import "../../../assets/form.scss";
@import "../../../assets/color.scss";

.container-fluid {
  margin: 5% 0;
}
.btn {
  min-width: 200px;
  margin-top: 2%;
  margin-bottom: 4%;
}
button.btn {
  margin-bottom: 10%;
}
.card {
  border: 0;
  background-color: inherit;
}
.card-header {
  background-color: inherit;
  border: 0;
  color: black;
  margin-bottom: 0%;
}
.testFriend {
  margin-top: 15%;
}
.modal-body {
  text-align: center;
}
