.font-dark {
  //color: #333333;
  color: darkslateblue;
}
.font-light {
  color: whitesmoke;
}
.bold {
  font-weight: bold;
}
.justify {
  text-align: justify;
}
a.nondecorated.link:active, /* активная/посещенная ссылка */
a.nondecorated.link:hover,  /* при наведении */
a.nondecorated.link {
  text-decoration: none;
  //color: #666;
}
