
<app-home-header id="home-header"></app-home-header>

<app-test-info-cards id="user-test"></app-test-info-cards><!-- cards to link to tests -->

<app-why-determine-psychological-compatibility id="psychological-compatibility-info"></app-why-determine-psychological-compatibility>

<app-test-info-cards id="user-test"></app-test-info-cards>

<hr>
<div class="about-authors">
  <h2 class="text-center">Об авторах проекта</h2>
  <app-author-cards></app-author-cards>
</div>

<app-pass-test-button></app-pass-test-button>
