<div class="container-fluid tests">
  <!--                                     GOALS                                      -->
  <div *ngIf="tests" class="container-fluid test" @fade [hidden]="isGoalsDone">

    <!--<div class="progress">-->
      <!--<div class="progress-bar bg-success" role="progressbar" style="width: 100%;" aria-valuenow="10" aria-valuemin="5" aria-valuemax="100"></div>-->
    <!--</div>-->

    <!--<div class="area header">{{ tests.goal[0].area.areaName }}</div>-->
    <div *ngIf="isNotPassed" class="area question">{{ tests.goal[0].area.areaQuestion }}</div>
    <div class="card-deck justify-content-center align-items-center"
         *ngFor="let test of tests.goal; let i = index"
         [@slide]="itemState[i]" [hidden]="!isActive(i) && isChosen(i)">
      <label class="card d-flex justify-content-center">
        <input type="radio" (click)="setGoal(i, test.firstScale)" name="test.firstScale.scaleHeader">
        <div class="card-header">
        {{ test.firstScale.scaleHeader }}
        </div>
        <div class="card-body align-items-center d-flex">
          <div class="card-text scaleDescription"> {{ test.firstScale.scaleDescription }} </div>
        </div>
      </label>
      <label class="card d-flex justify-content-center">
        <div class="card-header">
          {{ test.secondScale.scaleHeader }}
        </div>
        <div class="card-body align-items-center d-flex">
          <input type="radio" (click)="setGoal(i, test.secondScale)" name="test.secondScale.scaleHeader">
          <div class="card-text scaleDescription"> {{ test.secondScale.scaleDescription }} </div>
        </div>
      </label>
    </div>
    <div class="row buttons justify-content-center" [hidden]="isNotPassed">
      <div class="area answer before">Вы прошли субтест «Жизненные приоритеты». Сохраните данные и пройдите cубтесты "Состояния" и "Личностные качества"</div>
      <div class="btn-group-vertical" role="group">
        <button (click)="saveGoals()" type="button" class="btn btn-success">СОХРАНИТЬ И ПРОДОЛЖИТЬ</button>
        <button (click)="resetGoals()" type="button" class="btn btn-light btn-sm">Пройти тест снова</button>
      </div>
    </div>
  </div>


  <div [hidden] = "!(isGoalsDone && (!isStatesDone && !isQualitiesDone) && ind == 0)" @vanish>
    <div class="area answer">Вы успешно прошли субтест «Жизненные приоритеты».
      Осталось пройти cубтесты "Состояния" и "Личностные качества"</div>
  </div>


  <!--                                     STATES                                      -->
  <div *ngIf="tests" class="container-fluid test" @fade [hidden]="isStatesDone || !isGoalsDone">
    <!--<div class="area header">{{ tests.state[0].area.areaName }}</div>-->
    <div *ngIf="isNotPassed" class="area question">{{ tests.state[0].area.areaQuestion }}</div>
    <div class="card-deck justify-content-center align-items-center" *ngFor="let test of tests.state; let i = index"
         [@slide]="itemState[i]" [hidden]="!isActive(i) && isChosen(i)">
      <label class="card d-flex justify-content-center">
        <div class="card-header">
          {{ test.firstScale.scaleHeader }}
        </div>
        <div class="card-body align-items-center d-flex">
          <input type="radio" (click)="setState(i, test.firstScale)" name="test.firstScale.scaleHeader">
          <div class="card-text scaleDescription"> {{ test.firstScale.scaleDescription }} </div>
        </div>
      </label>
      <label class="card d-flex justify-content-center">
        <div class="card-header">
          {{ test.secondScale.scaleHeader }}
        </div>
        <div class="card-body align-items-center d-flex">
          <input type="radio" (click)="setState(i, test.secondScale)" name="test.secondScale.scaleHeader">
          <div class="card-text scaleDescription"> {{ test.secondScale.scaleDescription }} </div>
        </div>
      </label>
    </div>
    <div class="row buttons justify-content-center" [hidden]="isNotPassed">
      <div class="area answer before">Вы прошли субтест «Состояния». Сохраните данные и пройдите cубтест "Личностные качества"</div>
      <div class="btn-group-vertical">
        <button (click)="saveStates()" type="button" class="btn btn-success btn-lg" [hidden]="isNotPassed">СОХРАНИТЬ И ПРОДОЛЖИТЬ</button>
        <button (click)="resetStates()" type="button" class="btn btn-light btn-sm" [hidden]="isNotPassed">Пройти тест снова</button>
      </div>
    </div>
  </div>

  <div [hidden] = "!(isStatesDone && (isGoalsDone && !isQualitiesDone) && ind == 0)" @vanish>
    <div class="area answer">Вы успешно прошли субтест "Состояния".
      Осталось пройти субтест "Личностные качества"</div>
  </div>



  <!--                                     QUALITIES                                       -->
  <div *ngIf="tests" class="container-fluid test" @fade [hidden]="isQualitiesDone || !isGoalsDone || !isStatesDone">
    <!--<div class="area header">{{ tests.quality[0].area.areaName }}</div>-->
    <div class="area question">{{ tests.quality[0].area.areaQuestion }}</div>
    <div class="card-deck justify-content-center align-items-center"
         *ngFor="let test of tests.quality; let i = index"
         [@slide]="itemState[i]" [hidden]="!isActive(i) && isChosen(i)">
      <label class="card d-flex justify-content-center">
        <input type="radio" (click)="setQuality(i, test.firstScale)" name="test.firstScale.scaleHeader">
        <div class="card-header">
          {{ test.firstScale.scaleHeader }}
        </div>
        <div class="card-body align-items-center d-flex">
          <div class="card-text scaleDescription"> {{ test.firstScale.scaleDescription }} </div>
        </div>
      </label>
      <label class="card d-flex justify-content-center">
        <input type="radio" (click)="setQuality(i, test.secondScale)" name="test.secondScale.scaleHeader">
        <div class="card-header">
          {{ test.secondScale.scaleHeader }}
        </div>
        <div class="card-body align-items-center d-flex">
          <div class="card-text scaleDescription"> {{ test.secondScale.scaleDescription }} </div>
        </div>
      </label>
    </div>
    <div class="row buttons justify-content-center" [hidden]="isNotPassed">
      <div class="area answer before">Вы прошли субтест «Личностные качества». Сохраните данные.</div>
      <div class="btn-group-vertical">
        <button (click)="saveQualities()" type="button" class="btn btn-success btn-lg" [hidden]="isNotPassed">СОХРАНИТЬ</button>
        <button (click)="resetQualities()" type="button" class="btn btn-light btn-sm" [hidden]="isNotPassed">Пройти тест снова</button>
      </div>
    </div>
  </div>
</div>
