@import "../../../assets/color.scss";

// Extra small devices (portrait phones, less than 576px)
.container-fluid.tests{
  margin: 8% 0 1% 0;
}
.progress {
  height: 20px;
  width: 100px;
}
.area.header{
  font-size: x-large;
  text-align: center;
  font-weight: bold;
}
.area.question {
  padding: 3% 0;
  font-size: larger;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: $area-question-color;
}
.card-deck {
  margin-top: 2%;
  margin-bottom: 10%;
}
//Testing card's animation
//http://tobiasahlin.com/blog/how-to-animate-box-shadow/
.card {
  font-size: medium;
  margin-top: 5%;
  width: 300px;
  min-width: 300px;
  max-width: 300px;
  min-height: 300px;
  height: 300px;
  max-height: 300px;
  border-radius: 20px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.card-header {
  height: 33%; //corresponds to 67% of card-body
  min-height: 33%;
  max-height: 33%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: larger;
  font-weight: bold;
  color: black;
  background-color: $test-card-header-color;
}
.card-body {
  text-align: justify;
  margin: 5%;
  height: 67%; // corresponds to 33% of card-header
  min-height: 67%;
  max-height: 67%;
}
.card::after {
  content: "";
}
.card:hover {
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  background-color: $test-card-hover-color;
}
.card:hover::after {
  opacity: 1;
}
input[type=radio] {
  display: none;
}
.area {
  //display: block;
}
.area.answer {
  padding: 1% 0;
  font-size: x-large;
  text-align: center;
  font-weight: bold;
  color: $area-answer-color;
}
.area.answer.before {
  color: #444444;
}
.save-test {
  margin: 3% 1% 8% 1%;
}
.buttons {
  margin-top: 2%;
}
button {
  margin: 10% auto;
  padding: 5%;
  font-size: large;
  text-align: center;
  width: 300px;
  max-width: 310px;
  min-width: 300px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.3);
}
.btn-sm {
  font-size: medium;
  color: grey;
}

// Small devices (landscape phones, 576px and up)
@media(min-width: 576px) {
  .container-fluid.tests  {
    margin: 6% 2% 1% 1%;
  }
  .area.header {
    font-size: xx-large;
  }
  .area.question {
    padding: 1% 0;
    font-size: larger;
  }
  .card-deck {
    margin-top: 5%;
    margin-bottom: 10%;
  }
  .card {
    font-size: large;
    width: 330px;
    min-width: 330px;
    max-width: 330px;
    height: 350px;
    min-height: 350px;
    max-height: 350px;
  }
  button {
    font-size: x-large;
    width: 380px;
    max-width: 380px;
    min-width: 380px;
  }
}

// Medium devices (tablets, 768px and up)
@media(min-width: 768px) {
  .area.question {
    font-size: x-large;
  }
  .card-deck {
    margin-top: 0%;
    margin-bottom: 3%;
  }
  .card {
    font-size: larger;
  }
}

// Large, extra large devices (desktops, large desktops, 992px and up)
@media(min-width: 992px) {
  .area.question {
    font-size: xx-large;
  }
  .card {
    font-size: x-large;
    width: 430px;
    min-width: 400px;
    max-width: 430px;
    height: 450px;
    min-height: 450px;
    max-height: 450px;
  }
}
